SDK_Project/archives
SDK_Project/build
SDK_Project/MW_SDK.xcodeproj/xcuserdata/
SDK_iOS_WS.xcworkspace/xcuserdata
GamaSDK_iOS_Integration/MW_SDK.xcodeproj/xcuserdata
GamaIAP/GamaIAP/GamaIAP.xcodeproj/xcuserdata
GamaSDK_iOS_Integration/archives
GamaSDK_iOS_Integration/MW_SDK.xcodeproj/project.xcworkspace/xcuserdata
GamaSDK_iOS_Integration/MW_SDK.xcodeproj/xcshareddata
SDK_iOS_VN_V2.xcworkspace/xcuserdata
