xcschememanagement.plist
GamaResources/_LibGroup
xcshareddata/
xcuserdata/
xcshareddata/
GamaSDK_iOS_Integration/FLSDK/framework_history
GamaSDK_iOS_Integration/FLSDK/FLSDK.framework

GamaSDK_iOS_Integration/Resources/ThirkLib/AF
GamaSDK_iOS_Integration/Resources/ThirkLib/Firebase
GamaSDK_iOS_Integration/Resources/ThirkLib/LineSDK
GamaSDK_iOS_Integration/build
GamaSDK_iOS_Integration/archives
GamaSDK_iOS_Integration/Resources/ThirkLib/Facebook
