<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>General Revenue</key>
	<string>0</string>
	<key>gama_10min</key>
	<string>x04xzh</string>
	<key>gama_15retention</key>
	<string>27hoyb</string>
	<key>gama_1retention</key>
	<string>4lq8j6</string>
	<key>gama_20min</key>
	<string>1bby82</string>
	<key>gama_30min</key>
	<string>ljal5c</string>
	<key>gama_30retention</key>
	<string>rve2xo</string>
	<key>gama_3retention</key>
	<string>30ppom</string>
	<key>gama_7retention</key>
	<string>foiv0e</string>
	<key>gama_8min</key>
	<string>648424</string>
	<key>gama_firstpay</key>
	<string>m06qsm</string>
	<key>gama_login_event</key>
	<string>oif03g</string>
	<key>gama_open</key>
	<string>f7roqi</string>
	<key>gama_register_event</key>
	<string>bma4yq</string>
	<key>gama_role_info</key>
	<string>6p1848</string>
	<key>in_app_purchases</key>
	<string>59kb4f</string>
	<key>install</key>
	<string>pdob40</string>
</dict>
</plist>
