<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61788863107-ibqppv1m5dc6p9kce4g24umk2fr8sh84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61788863107-ibqppv1m5dc6p9kce4g24umk2fr8sh84</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>61788863107-kqg3srg1tcelrta7rac0d630gd44krkc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-3nyjFbrT_NAO-tLJAuH-7nHez7b8Do8</string>
	<key>GCM_SENDER_ID</key>
	<string>61788863107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fzzh.tw</string>
	<key>PROJECT_ID</key>
	<string>meowplayer-5541c</string>
	<key>STORAGE_BUCKET</key>
	<string>meowplayer-5541c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61788863107:ios:566410590ddb7002c5f9b6</string>
</dict>
</plist>