<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947127177793-ekcuhguvh2ubs3d1prtqeqrb72c816dd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947127177793-ekcuhguvh2ubs3d1prtqeqrb72c816dd</string>
	<key>API_KEY</key>
	<string>AIzaSyCgb2qKigi_i50jMSo99jTP6Ny183qnBq4</string>
	<key>GCM_SENDER_ID</key>
	<string>947127177793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wanye.fszhl</string>
	<key>PROJECT_ID</key>
	<string>tw-zmdyls-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>tw-zmdyls-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947127177793:ios:055a61c010c20b59fcecc0</string>
</dict>
</plist>