<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CLIENT_ID</key>
<string>110542588551-9j5lm1jkdvl257akenosvrlogk1sbnil.apps.googleusercontent.com</string>
<key>REVERSED_CLIENT_ID</key>
<string>com.googleusercontent.apps.110542588551-9j5lm1jkdvl257akenosvrlogk1sbnil</string>
<key>API_KEY</key>
<string>AIzaSyA0koD3YMCYMJTxi7d9k-knTUkXbrVvMvI</string>
<key>GCM_SENDER_ID</key>
<string>110542588551</string>
<key>PLIST_VERSION</key>
<string>1</string>
<key>BUNDLE_ID</key>
<string>com.tgswkr.koda</string>
<key>PROJECT_ID</key>
<string>tgswkr-ios</string>
<key>STORAGE_BUCKET</key>
<string>tgswkr-ios.appspot.com</string>
<key>IS_ADS_ENABLED</key>
<false></false>
<key>IS_ANALYTICS_ENABLED</key>
<false></false>
<key>IS_APPINVITE_ENABLED</key>
<true></true>
<key>IS_GCM_ENABLED</key>
<true></true>
<key>IS_SIGNIN_ENABLED</key>
<true></true>
<key>GOOGLE_APP_ID</key>
<string>1:110542588551:ios:83d336a1d96d1381848622</string>
</dict>
</plist>
