<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>+9IL9S53fsAVRo6fQdLlMDgEHZgzFse8WfLegBjjZwo=</key>
	<dict>
		<key>C2i9YD+xH00pv47pdpEnsreeGtfsZkEKU9+1GhBK0Ec=</key>
		<string>q3EXTInxKcjkHxtR8kj++GDQIp766uWDfigxuijCWcw=</string>
		<key>IrtWv4hBDYTW7tegtLBCuJ9/yWBvhCEdGneGGtY9saM=</key>
		<string>7jUoPIKT/hq6byp/OtaelNUlDe99rD/wdzHoYMHiB1Q=</string>
	</dict>
	<key>/yqegvK/dadbha6dd9lnnO3BAbIPHkN/tEy52118cNc=</key>
	<dict>
		<key>3lfs14Jezi+HozmZdCPXTsqNp3V36rcsRkPKBb9NJ8M=</key>
		<string>uGFZnQAcGm8nNjnlOY9rARYo4YRJB3AWBTl5GPNL40MxRn0jIdZ4EdT4j45lYqil</string>
		<key>M0IUr+YmljX0Dl+VS0Hbvw==</key>
		<string>cUdki4UfbtrNAyQd7J6V7NzZgwt82NFSHY3TwKBdgHM=</string>
	</dict>
	<key>7J3jUICcTegF780NJTiJdUcD4etTR30F/Pm00QEtePQ=</key>
	<dict>
		<key>/23R1LqyyiZJemAA55KNUw==</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>yQpKrZS62w3PonuRjnTMQA==</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
	</dict>
	<key>FolTc9uXwYTSb1uhwMFGoQ==</key>
	<dict>
		<key>jBpv6i37epbYT2anY/6PymWlWD+sNzctitUu+3DHhJ0=</key>
		<string>cGwCGQ9aOr0FKx9sitK0GwSVCxGYBKVjZPYdl4M+Vr8=</string>
		<key>kEY4bKNud7uF0HiMVF89QGyfuQ1ZcyQ5lxR8W5lWJ8w=</key>
		<string>Fy+S63J1MTRpOrkqmYdITene2wfxQmkQt52jN4rlN3w=</string>
		<key>kEY4bKNud7uF0HiMVF89QPzDrX2KakDgb0tAzszQ/Zc=</key>
		<string>IA0x3hOOzsRixH5q1URsPggeduGgyD3f0n3IUDn9QDVVCkKRqcCagYNC13/owMIvhTJ7nHjSYoS5j4F/pc6X5MF2F8OM3uUxKuql6OdDUa0MugXeRrYKC8WcdMMvur7+gXIqWAB1E33kfbgkurts2JFFs0BlkzsIcRi9seKlWiUeiQMwbQbZrA0xWC1hdVBe</string>
	</dict>
	<key>QzjQmx0KW0bTtHY8UfHYKdRTAvAZCX7bO0OCsIThJxQ=</key>
	<dict>
		<key>1Zz16GNBUH+2RO42lvl0bw==</key>
		<string>d3NLi+UhS58wqsWGiPDljA==</string>
		<key>1vGZeOEoMh4KQfjZj0oCCg==</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>HreoEw47HXP04PPSs51YoA==</key>
		<string>fVG70l/bJNnLdXfP+RFoFw==</string>
		<key>IAH9axu4zTnTFfG8JDMi3g==</key>
		<string>d3NLi+UhS58wqsWGiPDljA==</string>
		<key>ZIP5+BNHpaccHmFyMO7Aag==</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>eitjZfoFQsPPuKT7JIDNYw==</key>
		<string>ON9Zp7ytLGAsINumQ4TTXA==</string>
		<key>qgc9aTrQI3H8YO+lwgsgeQ==</key>
		<string>HITJ+ueioCWrECZDtP4oMA==</string>
		<key>wAUng2eC5Joqmw8FsOk9rZf9yR28Nqald77upE3jkxE=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
	</dict>
	<key>SDK_DATE</key>
	<string>2558-04-17 15:36:50.923</string>
	<key>_GAME_NAME_AT_ENCRYPT_</key>
	<string>tlbb</string>
	<key>at3JPKI5WKypzj13Ka3imw==</key>
	<dict>
		<key>/zU4hftrWkyH2KzLm9he7g==</key>
		<string>OdMOkVtKRIekLpbrRFfIBM1XFy//5/D9cduhkOoDN/I=</string>
		<key>3kZ9awtLW188+E9ycOdkvA==</key>
		<string>bYYB2rJLJs2I4DNVVWfiZCpUiPsRHXLtywbOzXtQ8wk=</string>
		<key>rVDlYp+CJLFW7Yi9/qBaRG3ROWASgGqkR/PB4n7VOgs=</key>
		<string>8BccJmcNBSBVVBngzw8uaA==</string>
	</dict>
	<key>bYTb+NKD+F5FHPbBpQ7Tux+xBgz0cScJdRtdndaUwMs=</key>
	<dict>
		<key>/bXIgrMBNrwlaiQEJg8a+w==</key>
		<string>25DiPmnStn7oR96rwb0TTg==</string>
		<key>8e1dqagikkFm+IOCLf1MhQ==</key>
		<string>Qa4cHOsVaDj3eQkS0UgUTA==</string>
		<key>IWL+2V/PWtaU1nk4qe9DHA==</key>
		<string>DDnIGXaMvvf7/qljLkBJhQ==</string>
		<key>KjuGcOTeykCUexEn1qOMIg==</key>
		<string>c1tuMmCBYT0jN1gOmLmOow==</string>
		<key>NA8lV6Q08nzlnh+lLUYDQQ==</key>
		<string>OBqBlwyTxZdse3Y7thTTfQ==</string>
		<key>aOi1DLylFjek5emnbrhCAw==</key>
		<string>fso6TXpJLe/vI1pT/Z2wtA==</string>
		<key>c2K4tW1Siro/9pHjRRq7xg==</key>
		<string>YOHF5ZTiV0o9EtpkIeOZXQ==</string>
		<key>fuc30wi4kBvEtvu7c+pIqg==</key>
		<string>Lg/xMU1rFVaeSAC8sP3N4g==</string>
		<key>jJb9o2iCTBwWTCGtKytSgw==</key>
		<string>FTSFsZyu5+TqoghpckugFg==</string>
		<key>kWYgeSqL0jmRIA6ntHPDQQ==</key>
		<string>PYEbJRCVueKBt2d8TZ1NNQ==</string>
		<key>r51CO6Xbu3eOM4vtc+IYDQ==</key>
		<string>XPDFXXGdeKHROMKlxvTM9w==</string>
		<key>sZoFyelfLXMvQqpGqnRZYQ==</key>
		<string>SMYOI+R6Qdur6t/vrRx7WA==</string>
	</dict>
	<key>cYyDY3z5WZBjVTg/6Ls67w==</key>
	<dict>
		<key>/KkcFEeiO1XWIXLPYAju+VbGyToqonakRx3c/9Vvqt4=</key>
		<string>9Atomm1+gJhWbHBFjNPiJ8OkIyrrJPRy671ObsBCQVw=</string>
		<key>1W58aiYDCPnYWSMewq2V9g==</key>
		<string>f7PflC67t9d9SXthnFoqevp5wEbQDCAxntprM+74+yM=</string>
		<key>7MdADv7m+S+9M6KxMnBdCCIlEX6yKrLBPp2RNpFYYUc=</key>
		<string>qmf4T/G1wEHjcZiwok6rNp7SQn8z6GxTp/8GxkW6hDY=</string>
		<key>UeCfQaK0ugZbejX3yTCNUcXU/RBn4CzV/QgigYT+wA4=</key>
		<string>nK9LFO2/NutSur1hxa1RNVIYbO6GOmKkqivWKhG6rkY=</string>
		<key>gbC/VQ9WadwHElBvcUt3mWzf5DXK4SeDc70Vikqo7cM=</key>
		<string>dXUGlWMIe6N7aI7WkdlMpycg3x5TAKtb+sjFGPTv8q4=</string>
		<key>j11o7WMVIYK4q40N0zBRvjo3Rqd2C2KY99UcpScvKRc=</key>
		<string>zvnJ6vqSKO6WOZdQv/lPL4qQtlhCkLIQPYDjeyaAs8o=</string>
	</dict>
	<key>configVersion</key>
	<string>1.0.10</string>
	<key>dGzgiMUUsaMlpqAUX1OpJUhCJH80TfALWtSc1oP+amI=</key>
	<dict>
		<key>++6VeNVYNCSg3vdk3bhrA9o6WyUmBs0Z6zQK/O+chlI=</key>
		<string>f2LYN+6hNiBY457ieLJq+FoNjw59lOkx813aRAhpN4I=</string>
		<key>1DbNhh5f6uj89X6m6ExYjsf7PWHO2Nvg3PHt1zionIw=</key>
		<string>g/KfBZfEeKYTTZNyKPVainDrLpZkXxK/enb5qEemIgA=</string>
		<key>7BTb4hkz7cNgc8g8Jrewpj/xGFfAIPAPl2Y9tGm7E4I=</key>
		<string>Vrsquy3lajJR6AA+HcUqdWXdtHB2B4v+I2snx73tJ5Y=</string>
		<key>9EA6C85b0oRLLTnOdSBNzSySEPxdCmWSQTJN6j5pvhg=</key>
		<string>g/KfBZfEeKYTTZNyKPVainDrLpZkXxK/enb5qEemIgA=</string>
		<key>AVgA67fuNwlTIvtYdaWzM0Ewc0UUYPQIa8ZjcxJ8mGx9mtros6s62K+rjzLBtHbV</key>
		<string>0OjTCqraG3MosI7VyFuo9kkTOBTs5qDvgYTHTZbZYcNDNQujA6QZfTgIskfEPzn5</string>
		<key>HVI61u9FHwwA9Qr2TkQVqzrgrcUEgZlqNs/GtwtnC9868qfk0Dy9o3tJygZZrPQf</key>
		<string>2gYiA+WmVHczbidy4xNqz8kdgdQ/rRE0S0QK8Chr92o2oIS5w+nB3mQIwXGMf5gT</string>
		<key>P9qJSUNj9TIRTdecR0QjxVGQus5AdUkXKRXMLekwdoE=</key>
		<string>MUWVuXNu6qtLKvVqPXDVyIQpJVR+c6jxAEJQ5KZ+sms=</string>
		<key>ZuQ1L9sPsPMbaCDfkKSZJbvMWKUasVUKobyqGUrXdBCbAGz9wPStYl1LT6Oum7x/</key>
		<string>H7L0/UMJVk2c2MBYiOwgpxHqc1EX0oeR4pH+oYzcetc=</string>
		<key>bDXVtVnIAWNRtnBYvcYvWKyhG7teAa6kQO+9r25kwrM=</key>
		<string>NvVhgRzhOVKgIfaIompaAm8o2iar9VwISkzyN62gtvc=</string>
		<key>fXbNkFdnktGDTKoFDpNK9vDTKkZ6LbgANQWA35ljdyY=</key>
		<string>EkjK050TZTPj1JbNsDp8YpGXS6i2OsGYdI5iV5TZXnhK/EF4kbjTkI2ClqYuf3mF</string>
		<key>m/g+nwSJpHjgbseO6rctZJf/Rhj3lDroAiu5jA+gY/67Qtz+MY4wxnhIj4F9s6Nm</key>
		<string>IYhJTAqrwJQhfhWvFcPrNmBZidY+WsPRPFkgNUO0des=</string>
		<key>rAgMT9+Rw1pTgFb45AgrmIaIbxhHStjvMf88Z+RrmMHv2rfpir4lYanj/e4au13A</key>
		<string>aL4eQjoepSyBhWU9y6c966o9bfNh8qXNpZhObrC1R4qS5VWZ85faRqyD4a6sRytI</string>
	</dict>
	<key>mUYaKTugMv73JFRqjD9sPQ==</key>
	<dict>
		<key>+/i1eIlolggweeJiPG7/NQ==</key>
		<string>wH3KWYGTCZmcbXUfFcwmHQqRDaUh99Jf4gkrhX1pN1E=</string>
		<key>/gp9wfZIxi1oIWNG0kyklKS1hHsHZfUiomU9KNgaDmI=</key>
		<string>W6TIxatynlB2hagx6JgfTg==</string>
		<key>/ngzDlPtPIvhd8fpeLPoqQ==</key>
		<string>SMpUy1RxQcXusY3KgJv2Fw==</string>
		<key>0HR4QGR6vFWKp5c/YF8+t2LeYb6mNbzzdF5KYw2/IxA=</key>
		<string>ZH3gs0mQp6bzOxwpKqQ82A==</string>
		<key>0M4ZT/ywiTy8ITxGO4fmGw==</key>
		<string>4Psd3VI3pPC5hqVH24X84e23Sye7usOb+t83anlEkBw=</string>
		<key>0Q721YONsujFNrQ0v2TNiHhKsGyOp/j4Uli2H3E0Xd0=</key>
		<string>9yVunAZUDsFK7Lavu1w/Od7H26j6OEzRv94OPL7oXvs=</string>
		<key>0Q721YONsujFNrQ0v2TNiJsUxpfJJr3p2YFkTYrO+OI=</key>
		<string>rVSNbEcXcUdcNJMjz8YBzAGzwChQmg6WujFkGkDp7tY=</string>
		<key>0wNOWGKzJp5y0I4c8dETdg==</key>
		<string>bAhDiVcf01Wluw+olSVFB8x0yC0jWZeP4UZClSL77pw=</string>
		<key>1+mNxZnznB7xRaBAYTt1KuQcrkbIED0ZPXhfFMTyOdE=</key>
		<string>GEyFv0Tl/fvydc36ZoUSUF4On9aCgFFXNihyn17dxJM=</string>
		<key>2cYxzXJeAg2euhezTEsZWocmXvfaR0CpoaaUioMbCL8=</key>
		<string>VFuKZ58SBAynzw0aM+f4cg==</string>
		<key>2pEaB3iegHId6dXa5SpdZA==</key>
		<string>lqE3T6S54KkFkTtv0wgR5A==</string>
		<key>31NM1V2qAHynaI6mqpMOJbDpEj5B188p3xObGHIQhkM=</key>
		<string>VFuKZ58SBAynzw0aM+f4cg==</string>
		<key>32nNxZBB81hmBNKPuhkOukbVceZf7iKezleHvOQqKs0=</key>
		<string>xh8tUh7j8aVla7YGqfokNrGbAqM1R0Odi/MIZWG6slI=</string>
		<key>32nNxZBB81hmBNKPuhkOunYlP7SqGh17ni2rhrVgMmQ=</key>
		<string>KEckfmfFI/IMrtFiDOOd8AVQYrnivj6q7VKDEobeNuo=</string>
		<key>3Sd8Pjp4PFGBhkOVbsymwQ==</key>
		<string>n9DgOSh9hoJckRsAXHtbLMFhZME4PmTSwoeRMgTS/B4=</string>
		<key>4KTofZHrOCgL4VgJMm8GN4Ca1vtCNWs+phJ5hRLE5Po=</key>
		<string>EFVe5azpyGVXJISyydapnaTk6SqU404HiMTHo7lT7t0=</string>
		<key>4WT6jVpU3gy0diU4io1kUe8vYXpnjux+Wl9+aZMJhh8=</key>
		<string>i7h2IAd1LxOGF7nvHsbc8A==</string>
		<key>4neCh5VOZVnfUzOohtz3CbCrQYMfaAEXfvaW6JpzfvA=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>67zwPZgK66Ji54fuDpQ2K7Bhuyhyfod147iKX3hY7N4=</key>
		<string>VFuKZ58SBAynzw0aM+f4cg==</string>
		<key>6jBPmhou+WienqiP+n61TLySflZH7XLPtGlnQQcXv9Q=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>83AkeL4WSv5ozsHFZd2+83ArTbCC+nNLJUmm/3gbrcU=</key>
		<string>QwB1aD0//zuySgEcaItUSQ==</string>
		<key>8GzXZQTIoupohgrgsk2mlmuDbeA24ThDvI10U/pUtWI=</key>
		<string>ZH3gs0mQp6bzOxwpKqQ82A==</string>
		<key>9390yJbK73dd6pydnrAqxsyMb8rWSYKHpoWTuPD1HME=</key>
		<string>YoMf/GvZA6G2ZdZ67E4a3q1sbNH9q1VtGHuRO/0C/vQ=</string>
		<key>9kfP8roKEog9qTBoG+3baLkk/44NoGPpiJyWBKUmy7E=</key>
		<string>I/DYyDbHsxSDWKRGUsdqXQ==</string>
		<key>A008cCCyrTmbni5i3E1Zli3hccy4lsAChvGz48/zto8=</key>
		<string>1DFKgBfZUAcjGRA/I6qcKQ==</string>
		<key>ARsf73N/9MFxOcOJwlN+W15uudiUI1qOHOHK1LJP5gE=</key>
		<string>9j2p8RLzwUcJhavjwR9KdQ==</string>
		<key>AmjZaI08qcrxD81a01rtK528tUF/KxwWEiZvLImP9IQ=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>BeQVt0BQm691xhwtN++6G/lwOnop7TOLIBbyLf6xXK4=</key>
		<string>dvBS6aJJ1F5N+zMZrYErsQ==</string>
		<key>Dbd78IImnzFn17sAW6Q/uw==</key>
		<string>P+dyS78WGaUlFcYoTHueXA==</string>
		<key>EodKviW8S2WkphfCqHY4xlwXCGm/5B+VEzaTFVDwxf8=</key>
		<string>H2wB/ZKrmK0pfBUcgIhX1hf25Y1lSipB5Zvijwpj7LY=</string>
		<key>EsTaStI1wS9qseMg1nz7EiuHzkJhUGMZWHKrc4YpErk=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>EvtYpc8ejjlbAHkpglHWjA==</key>
		<string>SMpUy1RxQcXusY3KgJv2Fw==</string>
		<key>Fm8VcXMzKXbbbIE4Mf/b7GSed+FQx+dcJmfJ57oLaTc=</key>
		<string>sM61n6cwEsarLR65V2LJ0A==</string>
		<key>IXMZlc3isWYE8CqG/i87btPf6R3avQC4d+qTyxnAZFE=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>IztifOACPMaOK5W1R5yV69fzJYyl4vw0WKncYBGx10U=</key>
		<string>6rok1OOSaYBOXVmPpZe1iZcM61I5YWRI5KoZD1i7LAw=</string>
		<key>KIguCNnyqApf6BBIU/WndchuMWfHS4yfbgmdI1qfCmM=</key>
		<string>a1t0QirUtcFsdOHKBIzNRg==</string>
		<key>KsqZe3BtteksXn5xZprUN3MiBNDzZRi9lSRgqGqnOJg=</key>
		<string>QxdedISqBhafpXBw53wh/y+vI1I+DpemAWPTkZKb5QU=</string>
		<key>KsqZe3BtteksXn5xZprUN9ffgsvEJZiuHUg2V3CjjEo=</key>
		<string>4xV/8UmQsdIQ9FdCZZYSbtxey1b2lvWQtwo7ZSOQFTA=</string>
		<key>LS9mNPfwou1elqVxLDePfnnjMMhLPBNiyC8qewTfxRw=</key>
		<string>idZh3GyMlMLn8/RpBKa49wDIODQhyW9ZMIxS5Zk7Rtw=</string>
		<key>MRQ6+BHozdUTuP0T74dhICIawo2vTpeCB+c493PNiMk=</key>
		<string>H+/QOQBFkuk4g/174FofeQ==</string>
		<key>N4mFL3+k1BrlkaKf1vvhJKkT15NKN9VrHTX8lSGKpJU=</key>
		<string>7H57v5NmDQSKZjiiu+iTuw==</string>
		<key>N5eE0tgLhqQIQ4FTmQm9fbk50VSbkKeEgPENxyfVFNc=</key>
		<string>D6FRVdQ7tNu9hXIWZ9yAxQ==</string>
		<key>NTy2e9ogbdlSGnq2K1lZDA==</key>
		<string>Bm4Th4QekGPeoNEfhwwWhtJyhaWNBsZ0/I1Rm4zm4M0=</string>
		<key>O4bvL59a/kv/i2wbI4k8ZQ==</key>
		<string>4Psd3VI3pPC5hqVH24X84e23Sye7usOb+t83anlEkBw=</string>
		<key>OYtTxVDKIwc/+VGCSqimKD+VPBu/FW5zqccwTm0CiPc=</key>
		<string>sAhFq7PTf/hG7DcKsLzEx/LJv6hVmVsPCme5eNBDgaA=</string>
		<key>P9XewP3ITDO1R4AqqeMISFMF4m1nPjZdbcI2iGjW93A=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>P9XewP3ITDO1R4AqqeMISJtrrxZlftjb6UkzzKLeMTE=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>Qi7lfdcOdPjp7pUQNmQ6T/JNehbjrgqhbaaz8Rvcbe0=</key>
		<string>WvNIqECdTJfF79fDoZWWjA==</string>
		<key>QvaGFjflkWc9xODhlOMxtA==</key>
		<string>QwB1aD0//zuySgEcaItUSQ==</string>
		<key>RvGdDgJYY79eLkAa7KzRpw==</key>
		<string>kbG6n+WVQrt1KuHX8Ueizw==</string>
		<key>T5TH+e9Cw74lS+psUtwAIvT8c7IP51OGUSAK142GEK4=</key>
		<string>tupMuwDvqwI6UXPQ5zzM8gruV2jqR8owdRrU/qh+Cik=</string>
		<key>TG10WuaoNLm1TBD1qxbWawRGw/oXzt/UZXD0+/8qFHc=</key>
		<string>cmuTmLDTs5tDIuSZHSi4Vw==</string>
		<key>TLVvIU1xxs0Kege44KePsw==</key>
		<string>7H57v5NmDQSKZjiiu+iTuw==</string>
		<key>Uohu6e2xqIF88quabgqIVA==</key>
		<string>fUKdV6+mVzgAd9sTIK8EprqBb1HqxQcXzR4GmgLdiNE=</string>
		<key>XykKWGN28/JkHxu1TL8RNDhnWAIAEg5Y07nY8DV6m0I=</key>
		<string>W6TIxatynlB2hagx6JgfTg==</string>
		<key>XywIcT1upg30SZVUndSR3anfsHozKsBwXtB6nhNLgZc=</key>
		<string>W6TIxatynlB2hagx6JgfTg==</string>
		<key>YY0GVT/Zi9/woCDsj2QHRHuryix6EirnZw4Rhpq3270=</key>
		<string>0tbJRcq7TX0jA/s1vRDtoQ==</string>
		<key>YaiT7budxi1S1qmMNbZNkWZnt0v8MghWerJnXSHFIU4=</key>
		<string>4Psd3VI3pPC5hqVH24X84e23Sye7usOb+t83anlEkBw=</string>
		<key>YgZWVY+3POD+/rqNznscPA==</key>
		<string>21egXFY4NWFt7+iufsCc6Q==</string>
		<key>Ygg4QML/D9lOzzfomNrzpMKe1PrrQ0vpvYlHKgygjl4=</key>
		<string>sZka5JkcBdgNIwFSzTJMJs4CeoQo9MySOwAuwLWPVbo=</string>
		<key>Z7RBqmRaAZQcLm3997EJdr3/jjOy+9G+tbgiamv94Gg=</key>
		<string>OIB5PUGXnHROw+eMAQKs/q2PLD7CNjNM/13cCeJr6m8=</string>
		<key>Z7RBqmRaAZQcLm3997EJdro96O82wFN7CqIzfvvlK8Q=</key>
		<string>bB2VZcU2jIjkfLxpIHPTHg==</string>
		<key>Z7RBqmRaAZQcLm3997EJdsnWBafWq1PRW9BK2StgkPk=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>Z7RBqmRaAZQcLm3997EJdugQFRJ5/aHHTzvPEcLnkzI=</key>
		<string>9gYRNb8tNBFLwgVGXLVFz5cH44725wOXD4GYfHJJLgU=</string>
		<key>Z7RBqmRaAZQcLm3997EJdvTT0neulOXj9JIlUtiujwg=</key>
		<string>U1lCktvI0i0YsPumTMlO9wqubBwQ48PrT+1mzSazAqg=</string>
		<key>ZfIBLorhM+2L6FEE6cHUFA==</key>
		<string>CA9bc4qWQo06uNnV31QejQ==</string>
		<key>Zj8gNJb8QxiQxhQWhi9zcA==</key>
		<string>sZka5JkcBdgNIwFSzTJMJs4CeoQo9MySOwAuwLWPVbo=</string>
		<key>bCvd8/k+mVQ7WuVj4Xe7lZENo4M3AeWEX4qAT+jaHjQ=</key>
		<string>2ByCZ4LqqLnY7f3llqdQIA==</string>
		<key>d/A3YghWmXj3A6SS3wHJfOWs2pcFSgPOpU9GCm+Uj1U=</key>
		<string>9j2p8RLzwUcJhavjwR9KdQ==</string>
		<key>e/HQxpo+Se0vUYxA10xF8g==</key>
		<string>sM61n6cwEsarLR65V2LJ0A==</string>
		<key>ewamjMqIg8mp5P0cwfBkTlyOj5WGFjfSNHkwQ6UbrUE=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>ewamjMqIg8mp5P0cwfBkTrki6B7Mm1XG+MkBqD+bWjU=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>fdxlzeyUvVFTrcx7ejPUU+4d93x7Nz3nNLaXfK1rbQE=</key>
		<string>EepvPod7Y/spDTzyDF22eQ==</string>
		<key>fpI1uf0zOuMLn7Kla1z2c5vxmbrrUeEmlNyJvannysU=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>fpI1uf0zOuMLn7Kla1z2cwat3a2rc5pnJ6EtbrDfJzU=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>g8GY9O1RMPOUEXBkg8OoaRRlzBbNtZLYkYJesYIMyEg=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>g8GY9O1RMPOUEXBkg8OoaXBOSaOoxHk/WTWQl6zidfU=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>glNBb4Sw8djwfW+nm798cQ==</key>
		<string>SqMN39Q7f4FbXG2D3EV34lBhdX1Bw1F6Z84f4R6p0ZM=</string>
		<key>gzgFPFYry49GsoqFtSWlmw==</key>
		<string>idZh3GyMlMLn8/RpBKa495sF15AtiQ8cwCFjXr9OxSM=</string>
		<key>hAJSG9SqFC/ZPqJ1SG0YvgDU3mEr/r+TjHEId9R/H7E=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>hAJSG9SqFC/ZPqJ1SG0YvjATYyYPJ0jdsPShlB6u59Y=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>hQdYCHdFX5CinYeKkin/077hLgIgJuGgMFYR/KV88TM=</key>
		<string>bB2VZcU2jIjkfLxpIHPTHg==</string>
		<key>hiGxHDyUmgYG/gCX4uFeOHpb0fML4z2KEdMnRtqphLA=</key>
		<string>a+3kxeYAHqkezvrFW+X3h16/a2ho+MxAt5Z4FjwmnfE=</string>
		<key>iKHYO+f+IlfHse3EVKPCVqR4AW2CqaWxz8p54CGmgHA=</key>
		<string>UVdOYh2TEBeFEGcTrCXAyQ==</string>
		<key>iqwO1D8Cp4603L6gqf1bx3E6+cC1aD+z5vWiAhKHpvI=</key>
		<string>6WgkwF0bUJJHu7siAYyEV3fMc0Ks4B5tdvhV3al+L3Q=</string>
		<key>irG6Nb9Fo6odqqzi70bJ1I0/TyJpjaqjdkjB33fPMP0=</key>
		<string>I/DYyDbHsxSDWKRGUsdqXQ==</string>
		<key>jXOnMfp7mzXSnvgp/rnUIw==</key>
		<string>rv+WyLw+K0swtfCaPHV06g==</string>
		<key>kDrPZ6pIhoQUg1dlhp8QhTwxjaQ8JydgvoSknlrg2YE=</key>
		<string>21egXFY4NWFt7+iufsCc6Q==</string>
		<key>m2Y+v/9s70PasoGbIrnUZg==</key>
		<string>RQjZB+TIK7d7l76NE+u9BQ==</string>
		<key>o5Y//lj+dPUhYd80N5hOTjVPPWxq98ZKnHNxpHg1pAI=</key>
		<string>kU8jkzBgTNUXr/LCX4F33w==</string>
		<key>qc22OeqVpP9zr+Ze2UFtPyN3YUa8WiK0InMN9utrTXw=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>qxA6yhL3AjHZsXnu94gseyPfDNqE64PUbtmdNupc3UM=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>rG5YcOd1WFMYlCaYUzASm+rvPj69L+ffbKyqvTdxUHw=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>rOK5qS6xBRBSxf7JI8P95XD7yaSxOEJJ3A0EK3UdMCY=</key>
		<string>HaZXYLCHJ/O+cQz5MHsKnp9zzkfBlvcJe1L/3P4U6fU=</string>
		<key>rY1T7K77b9E7ljAnPPfR9CDKe3BM7dTPy+otYgpJReo=</key>
		<string>BdW1//Sy3EROe0rLL+tx6WaLJfKgp4hkEiqKDa0uUMw=</string>
		<key>rY1T7K77b9E7ljAnPPfR9FwGsW3FytYbq0IGggmiT4Y=</key>
		<string>/wA66XJRv4LU5uyiM/JaFJ+Xs9ALOrvJDZKItBDnDV0=</string>
		<key>steu3eepqvGbU7Z5m3N33g==</key>
		<string>9YCcaEnMtbZ+ndlllVIg4w==</string>
		<key>u45vEWxcJf0+zls4Hx/XcA==</key>
		<string>GEyFv0Tl/fvydc36ZoUSUF4On9aCgFFXNihyn17dxJM=</string>
		<key>uazBLPsDX3IZDiyo2rMTzhqerPZl6NIiBXtqIKBwWJ0=</key>
		<string>DG2bNV6cRO+ZZiQ6lg7OzDaBlHBZHm/uQX5YcnIg1OY=</string>
		<key>uazBLPsDX3IZDiyo2rMTziW7jS1TLq639LpS6lh7YvU=</key>
		<string>a1t0QirUtcFsdOHKBIzNRg==</string>
		<key>uazBLPsDX3IZDiyo2rMTzkMNnamchnLcNO/ePOOD4PE=</key>
		<string>D6FRVdQ7tNu9hXIWZ9yAxQ==</string>
		<key>uazBLPsDX3IZDiyo2rMTzkRGGDDAc7PvUDbUlVb8HuA=</key>
		<string>FjnBPWj394H93g6ZVhyEDQ==</string>
		<key>uazBLPsDX3IZDiyo2rMTzkbe3B8brYTfCATc6umAijY=</key>
		<string>FjnBPWj394H93g6ZVhyEDQ==</string>
		<key>uazBLPsDX3IZDiyo2rMTzoS6XyAUiBA8imTwwJMpwcw=</key>
		<string>9UBzNkOYTMURZkxgFoQK79+BGmPaxgZ548ls65UECqw=</string>
		<key>wANUGl8L0ToZfB5uwLGB31mA5mJVcFs+Kq5lP2yCUkY=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>wsuAifyaWcGAyNjWoDIz92S4DVvVu7TOSArcLqCJreI=</key>
		<string>7S92ZxzSNrqyWAFqhM3E5A==</string>
		<key>x0fqpB6VC0JHXdLyz7Ccsw==</key>
		<string>HaZXYLCHJ/O+cQz5MHsKnp9zzkfBlvcJe1L/3P4U6fU=</string>
		<key>xeQdb/Qs07cD0PR33E8ACXjDHq+S8KSHbI+9nay/uMI=</key>
		<string>LV+xuyWuCj6Eo7VmhpByvA==</string>
		<key>xmkR6MQzc4ynzJDCrR0n2w5jV7i2AYIz+ptOltxWd9w=</key>
		<string>kU8jkzBgTNUXr/LCX4F33w==</string>
		<key>y6Es7sIDAqXrn/ut1dfeaOK9NinwSIwFHarBerZbrOI=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>ymfxyAEPLVq5N5TB912+bKJy8if0CpTSEHeOKfZR23U=</key>
		<string>i7h2IAd1LxOGF7nvHsbc8A==</string>
		<key>zbHY7mn2zJcmca52KFxgAbXykJEeiSIL853rWyFeAt8=</key>
		<string>WvNIqECdTJfF79fDoZWWjA==</string>
	</dict>
	<key>obZ28fo0wwtSQ6SMhry8oaUGWoF6PDqELmtLiRM+dDo=</key>
	<dict>
		<key>k35M1+8ufkH/fi9KsHNBIg==</key>
		<string>KzC4eAsrnNFWSjiojDvkaVYGl5BYbXpz+pYi65yh9EKbEGejCLOoh8QKVW+3RJGrwttvb+PvewtFgIJdj1FA8w==</string>
	</dict>
	<key>qIGwIkOXiTcPs2FkFLI9Wg==</key>
	<dict>
		<key>2xeRETtPC2fLw+ULkHbJXw==</key>
		<string>wU+md4gY+R5o0mj2zoVdo8wRTI7oJ6zreLwdF/06wv2nNY0UXqvqEG8iER6VI8D9</string>
		<key>EXjI5YX7eBRXlLzz5drAooklRLynKloC3E/IHX+uS/E=</key>
		<string>ON9Zp7ytLGAsINumQ4TTXA==</string>
		<key>F+rQ7VBTXIDwxGygLwAiRA==</key>
		<string>i7h2IAd1LxOGF7nvHsbc8A==</string>
		<key>TieV80VbZIKcIBYpIVyD2pX2VTcPDOeRwy5zv50EpXM=</key>
		<string>jM12k/YJvheYsPtvJl6bSA==</string>
		<key>YMQlJHsa7KkNySYFpds11A==</key>
		<string>NptwdpbxVoQocA6tvF3XKQ==</string>
		<key>YdIbr+bywhWlPJoa4JckNQrsDDMOekuTE82R3BxfoiE=</key>
		<string>ON9Zp7ytLGAsINumQ4TTXA==</string>
		<key>apKfMQGxSjvxHi1xCNoOAg==</key>
		<string>kWYgeSqL0jmRIA6ntHPDQQ==</string>
		<key>fBlCzIKfgs8gDRypSG0dHw==</key>
		<string>ON9Zp7ytLGAsINumQ4TTXA==</string>
		<key>fNXbc1HIwcl/c5Ht59gL/x7ZqtsDSgnt4psXdDsxzek=</key>
		<string>ON9Zp7ytLGAsINumQ4TTXA==</string>
		<key>fg1paR+V8iOaLMGgkShSWnaX3O4DXoumpaRKN95hwFE=</key>
		<string>jM12k/YJvheYsPtvJl6bSA==</string>
		<key>kucVC9kBGs5M9Lh7PxPbT24C6xDJwnM7QR1nHrRJLlw=</key>
		<string>S756nDm5pYVinM9d3JPOjg==</string>
		<key>nRQ+5JkkBjFTALC9vYrG8A==</key>
		<string>ON9Zp7ytLGAsINumQ4TTXA==</string>
		<key>o3E2ecf2Yvmbt7mYnTgEmoGAeXOKjXhGR/y52hVama0=</key>
		<string>ON9Zp7ytLGAsINumQ4TTXA==</string>
		<key>qE1pees6sW9qLhyEmijvHcPYIhezhRQpKjfXvE8nVEI=</key>
		<string>QvaGFjflkWc9xODhlOMxtA==</string>
		<key>wyfbYKQ+7SCDvNzK2HhazMKx5EduUlMwgnBLLybJt0A=</key>
		<string>ON9Zp7ytLGAsINumQ4TTXA==</string>
	</dict>
	<key>tg+paq85t1aEHB1cgKvwtQ==</key>
	<dict>
		<key>PuC84ddLbeX0ufM6cOWqdQ==</key>
		<string>WV5mvQRk1LHdSt7t3o11zV+B8bu21fKLTkIiCBkAjItVX6JY7qHlcuA2k+4YQsYQ</string>
		<key>nZpx29klBiU9VpHzWAD9xA0NsEEraeBZHKezGUYikxU=</key>
		<string>T+p4qdccf8geNuHIv0D3XnnbKOMuwSMJ9gXTYaBx2I4=</string>
		<key>zVu8vcf2OYkWt6Lc7+GyXQ==</key>
		<string>7PoDg/+gAAfKzHVBd4VJNbbudzgw2iA4NUyoNYJSewc=</string>
	</dict>
	<key>uffwm1bUxlNK92KcR94bLF+B5dJCxxLV4UcqzFn2Ooo=</key>
	<dict>
		<key>yulRqIgaieTrm3haYn5P/PiJ7kv0VatXz/ftDAVyFfc=</key>
		<string>cUdki4UfbtrNAyQd7J6V7NzZgwt82NFSHY3TwKBdgHM=</string>
	</dict>
	<key>yJ3sg/5oKRewatplMNp8Yg==</key>
	<dict>
		<key>2DlkodHlKoRY8iE6kQEYN3ugCMaLeyzuSCMV/ERmOuI=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>2cSgbGNuy2p6p4GOymTdFA==</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>2gQN8BIEKFwknoocFiFA7w==</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>37nKshBjI841slZr+IViwL3WNPJElFhyRuOn9Zdrxr4=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>3M/05m3/SlZQGTV6Sg9cLg==</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>5GvBdHiRHi8+MrEZMaqP+3VmIl2MnrQGAJ+8lgg8vI4=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>5JuDiLzyqWt9iwiYUrByWLPdtzY6gEuHkuNf7EiBpdk=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>5XobtlOiqlHaivWBYmzrmEsV8BhFbKtFJhDqfpURztA=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>BmWPIJuaQoK9BfiUJ85g7wfY7THD9XP56qnicZfhUq4=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>H0wK1J2p0sGR3gbYxaj2xQ==</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>HYfhmzA7sC+bhaGrzLlQ6A==</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>IFJVs1Pia80gDH18ivnktA==</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>KAjkQKnuoQJurbwgtOlgnfTpNPT9EMakRrOtw8p0Ka4=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>LD+crWZUCFM9fnz3mXIZ7EatoRTmo8601BuAcVXYguE=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>SqQP8OTM4vDFIBJjEAoCQA==</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>TIwCmMgE8cuN6XzfSe2eozou/qldjPAlpHQ9F6oDfLM=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>WoXfU6KOwjE5bzYUopw63GnkxoRVieUAYTTvoEt9lMA=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>f3MkgmTo+Ccmxt6q1MuufYtsZaH29uZyYJ4fD+GFNeU=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>feTrJhWTk8zvd6UaummGqQ==</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>fsROgE7WYZilxAfVpQRETg==</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>gSuUuvB6MHCXLd5kctdtxw==</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>k4hzJKi5RaT8idzuK2GRog==</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>lgn2bz+5fb5hJ9aw+s+kwzSwU5S2lqDsuHOY6AtmvkE=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>vq2OFIXyQUWY5YW+Ni+43g==</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>zIu5Op154sDcJ8VM5tICWYsU7v0eXpNwpLTpM4iEnbo=</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>zya6F4SWPvoCoxOFn3hCWg==</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
	</dict>
	<key>yJ5c/s3yDKcqfpHfgW4+f8bXSyFUmuXFNCHkOLpcw5I=</key>
	<dict>
		<key>2oVnasYPUTsA4HiizmxYYlnRcr69oJ4IeB+Q4DJ/bdU=</key>
		<string>GJnP3x13Ljg5gx4ErYZN31iUbVMzyj8yrxkl8Fsi4GY3/EdlOXkLb6cKOVAQzXGgIGu7ku7gj1BQtoqDtSQObG4A5n0Ww8JfT62tmqh0jno=</string>
		<key>MSLDGpHL+vLTyANmWXEEpL9kadhBuSMNntDbirPkNOo=</key>
		<string>GJnP3x13Ljg5gx4ErYZN31iUbVMzyj8yrxkl8Fsi4GY3/EdlOXkLb6cKOVAQzXGgMbmgG2MshVmA4EsuZ2nQ4Q==</string>
	</dict>
	<key>zSwkTyNm6JXeWf5n+OAkZTb+DbojdsB+sKnepxELk3o=</key>
	<dict>
		<key>0BTH195VeVbtcTJ9vstt8My6RQ5g2wMcus1xLqaSnhk=</key>
		<string>TQ7A3pgur83yL/Di2+q0Wr+WZHJDJjwjMrgz1SJJ6Z4=</string>
		<key>0Hp16P7XqmnmZWoOlkgLuV/ojui7QSAtU+D25b58TzY=</key>
		<string>4kR0P8X42rcZWqfrDFoQekYTVA261KJSwSfF2eBGsjg=</string>
		<key>1uoZKJWgPBWFZeG/AcMURQ==</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>1zg6wQyfWGiIarvndKXDtb8fW0hdQ2xAhXvuMQ+H22A=</key>
		<string>Kr2qaQp6dYv0JN13WzFtOlDMrfWSiErrIvlJyaBM3tQ=</string>
		<key>5QFvYE7iV2cGPHksq64lpSpPyjfPHrtBXGX9TOatPFw=</key>
		<string>P7eXOSmBTOiBTlPk5SToXK1ORSK87VcTAE0LUHuKjes=</string>
		<key>636mumsZQVUfiKdRlnLZWqWhKYN6bBVi3sDatsbfkHk=</key>
		<string>78dcNOyA4sv8w0wtDXQICMG369K3TKmpaV2ywpIaMyI=</string>
		<key>B9j6WWdimwFY6z+FIYXEtA==</key>
		<string>hY6KgcpAnNi3RJZNkDO2Ew==</string>
		<key>CEdSXZfJyAbSE1mjaSQ3IFmfw+gODelrbPSmsW9v9NI=</key>
		<string>ZpOU6YtX4fC7/hYkLtSTjR93iUcLtPdfYcMphyxyfiE=</string>
		<key>FSkNCOZyLw6UGmM+7u8kiiXpVI06TzDeFE2/ZiO+2GQ=</key>
		<string>9Yup077viVBgeLdYqO5xaW+aeu3lMaXWt9FBF4ZgqV0=</string>
		<key>JGfwkNwNR+/Oqd2alubfM4EPdIFXw1Xj4Px13ueT03s=</key>
		<string>ESZYtWCRgbdd1VeonhV9N++blXf6sRvKMbagzXXLCm0=</string>
		<key>MnI/0Pdy4mmt7lhKxj0hKg==</key>
		<string>ON9Zp7ytLGAsINumQ4TTXA==</string>
		<key>ObRsWkTBi4azoz6Z8k16SpTJ3yJfGCCxhSrnkuqtBkg=</key>
		<string>fmts3LDWLy5xMSWbyL2Tr7Feie1DAPeQh0eWeyCtivs=</string>
		<key>aVDiee9k/8PwYyQzb3Wabg==</key>
		<string>UMcSPOPt766IMw4AU7UFNliAKmt5ngQSaf2K6sbTejw=</string>
		<key>dyynnbROMAwvzkB6et/TGQnQGiHtq/XqCqkl5ifEUos=</key>
		<string>ChQSIZ9Bk10kBRhJaSANwyrhF3/nm6UFyW3oimsI+L8=</string>
		<key>wDkcWrKV9ZI7V+VIIP7bW3OZfuEU0BlgrggZZuSNxak=</key>
		<string>x2Rn6KFBsO4Ucn8Gxgch/kBfMK6x/Wqec/SP1dGpZ1E=</string>
		<key>wn9lwJG8OUfoktfNkTNpPwk7g2NyTSRJdXsoF+lp60I=</key>
		<string>QFRTjQucKVWREZCATmzrx2Un3AGKqopjQFysCbfj/18=</string>
		<key>xh3EWjs28kNxsGwqymKgLptDPmNebYFql8t76ulpqzg=</key>
		<string>3UZGF4WwUM/gDXCXFonlOixxGw7YQQtGz1Ure7IQiSg15o5wAgyzET+5EfCBjfln</string>
	</dict>
</dict>
</plist>
