<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IapProgramInfo</key>
	<dict>
		<key>***以下为新工程</key>
		<string></string>
		<key>iapAppstoreAppstoreCallback</key>
		<string>appstore_sendStone</string>
		<key>iapAppstoreCheckoutOrder</key>
		<string>dynamic_creation</string>
		<key>iapAppstoreCreditOrderProName</key>
		<string>appstore_sendStone</string>
		<key>iapAppstoreLogPintProName</key>
		<string></string>
		<key>iapAppstorePayFailProName</key>
		<string></string>
		<key>iapAppstorePayStoneProName</key>
		<string>appstore_sendStone</string>
		<key>iapDomainName</key>
		<string>http://testpay__replaceServer__/</string>
		<key>iapThirdPayProName</key>
		<string>dynamic_change</string>
	</dict>
	<key>LoginProgramInfo</key>
	<dict>
		<key>SP_Bind_Status</key>
		<string>YES</string>
		<key>SP_FindPwd_Status</key>
		<string>YES</string>
		<key>checkThirdBindStatue</key>
		<string></string>
		<key>findLoginWaysProName</key>
		<string></string>
		<key>isFbLoginInApp</key>
		<string>NO</string>
		<key>lbsDomainName</key>
		<string></string>
		<key>loginAcquirePhoneVertifyCodeProName</key>
		<string>acquireVfCode</string>
		<key>loginAssistBind</key>
		<string></string>
		<key>loginAssistFindPSW</key>
		<string></string>
		<key>loginAssistLoadCode</key>
		<string></string>
		<key>loginAssistLoadCodeWithAccount</key>
		<string></string>
		<key>loginBindPhoneOrEmailProName</key>
		<string>bindpe_phone_email</string>
		<key>loginDomainName</key>
		<string>http://testlogin__replaceServer__/</string>
		<key>loginNamePrefix</key>
		<string></string>
		<key>loginOpenChangeFindPwdFlag</key>
		<string>YES</string>
		<key>loginPartnerLoginProName</key>
		<string></string>
		<key>loginPtDomainName</key>
		<string>https://ptlogin__replaceServer__/</string>
		<key>loginRegion</key>
		<string></string>
		<key>loginStandardBindingEmailProName</key>
		<string></string>
		<key>loginStandardBindingProName</key>
		<string></string>
		<key>loginStandardChangePwdProName</key>
		<string>changePwd</string>
		<key>loginStandardFindPwdProName</key>
		<string>findPwd</string>
		<key>loginStandardLoginProName</key>
		<string>login</string>
		<key>loginStandardRegisterProName</key>
		<string>register</string>
		<key>loginStandardThirdLoginProName</key>
		<string></string>
		<key>loginThirdBindingProName</key>
		<string>bind_thirdParty</string>
		<key>loginThirdGetThirdInheritCode</key>
		<string></string>
		<key>loginThirdLoginProName</key>
		<string>thirdPartyLogin</string>
		<key>loginThirdUrgentProName</key>
		<string></string>
		<key>loginUserBindInfoProName</key>
		<string>users_bind_info</string>
		<key>loginValidateUserBindingInfo</key>
		<string></string>
	</dict>
	<key>ThirdLoginParams</key>
	<dict>
		<key>BhahaClientID</key>
		<string></string>
		<key>FBLoginEnabled</key>
		<string>YES</string>
		<key>GameCenterLoginEnabled</key>
		<string></string>
		<key>GoogleClientID</key>
		<string></string>
		<key>GoogleWebsiteFrameworkInfo</key>
		<string></string>
		<key>KakaoLogin</key>
		<string></string>
		<key>NaverLogin</key>
		<string></string>
		<key>PhoneLoginEnabled</key>
		<string>NO</string>
		<key>TwitterAppKey</key>
		<string></string>
		<key>TwitterAppSecret</key>
		<string></string>
		<key>VkAppId</key>
		<string></string>
		<key>urlschemeWhiteLists</key>
		<string>fbapi,fb-messenger-api,fbauth2,fbshareextension</string>
		<key>weChatAppId</key>
		<string></string>
		<key>weChatAppSecret</key>
		<string></string>
	</dict>
	<key>adInfo</key>
	<dict>
		<key>adCallBackProName</key>
		<string></string>
		<key>adDomainName</key>
		<string>http://ads__replaceServer__/</string>
		<key>adEventsName</key>
		<string></string>
		<key>adProName</key>
		<string>ads_install_activation</string>
		<key>adSDKCrashLogName</key>
		<string></string>
		<key>testActionKeyProName</key>
		<string></string>
		<key>testDomainName</key>
		<string></string>
		<key>testSaveProName</key>
		<string></string>
		<key>spy_platForm</key>
		<string></string>
		<key>spy_advertiser</key>
		<string></string>
	</dict>
	<key>domainNames</key>
	<dict>
		<key>pfActionUrl</key>
		<string>https://www__replaceServer__/</string>
		<key>unionInterfacePreferredUrl</key>
		<string>https://game__replaceServer__/</string>
	</dict>
	<key>facebookInviteInfo</key>
	<dict>
		<key>fbinviteActivityCode</key>
		<string>__replaceGameShortName__FbInvite</string>
		<key>fbinviteBandingProName</key>
		<string>invite_banding.shtml</string>
		<key>fbinviteCheckActivityIsOpenProName</key>
		<string>invite_checkActivityisOpen.shtml</string>
		<key>fbinviteCheckSwitchStatusDomainName</key>
		<string>https://sdk__replaceServerCDN__/Invite/%@.txt</string>
		<key>fbinviteDomanName</key>
		<string>https://fb__replaceServer__/</string>
		<key>fbinviteFbHiddenProgressViews</key>
		<string>NO</string>
		<key>fbinviteFbShareAdded</key>
		<string>YES</string>
		<key>fbinviteFindAllGiftsAndFriendsProName</key>
		<string>invite_findAllGiftsAndfriends.shtml</string>
		<key>fbinviteFriendsMessage</key>
		<string></string>
		<key>fbinviteFriendsTitle</key>
		<string></string>
		<key>fbinviteKakaoShareAdded</key>
		<string>NO</string>
		<key>fbinviteLineShareAdded</key>
		<string>YES</string>
		<key>fbinviteReceiveInviteSucceedProName</key>
		<string>invite_inviteSucceed.shtml</string>
		<key>fbinviteReceivedGiftPackageProName</key>
		<string>invite_receivedGiftPackage.shtml</string>
		<key>fbinviteShareAppDownloadUrl</key>
		<string></string>
		<key>fbinviteShareContent</key>
		<string></string>
		<key>fbinviteShareFansPageUrl</key>
		<string></string>
		<key>fbinviteSharePictureUrl</key>
		<string></string>
		<key>fbinviteSwitchInfoProName</key>
		<string>find</string>
		<key>fbinviteTwitterShareAdded</key>
		<string>NO</string>
		<key>fbinviteWriteFbFriendsProName</key>
		<string>invite_writeFbfriends.shtml</string>
		<key>fbrankActivityCode</key>
		<string>__replaceGameShortName__FbRank</string>
		<key>fbrankGetBillBoardProName</key>
		<string>rank_billboard.shtml</string>
		<key>fbrankGivePresentProName</key>
		<string>rank_givingPresents.shtml</string>
		<key>fbrankMainlyBase</key>
		<string>null</string>
		<key>fbrankReceiveRewardProName</key>
		<string>rank_receiveReward.shtml</string>
		<key>fbrankSaveEstablishFriendsProName</key>
		<string>rank_savaEstablishFriends.shtml</string>
		<key>fbrankSecondaryBase</key>
		<string>null</string>
		<key>thirdPlatformInviteFriendsRebateAwardsProName</key>
		<string>fr_receiveReward.shtml</string>
		<key>thirdPlatformInviteFriendsStoredAmountsQueryPromotionSurveyProName</key>
		<string>fr_queryPromotionSurvey.shtml</string>
		<key>thirdPlatformInviteFriendsStoredListDetailsProName</key>
		<string>fr_friendHelp.shtml</string>
		<key>thirdPlatformShareGetShareAwardsProName</key>
		<string>sh_shareAwards.shtml</string>
		<key>thirdPlatformShareSearchAwardsProName</key>
		<string>sh_searchAwards.shtml</string>
	</dict>
	<key>facebookSocial</key>
	<dict>
		<key>backgroundColor</key>
		<string>#EDEDE2</string>
		<key>buttonGetInvitationRewardTextColor</key>
		<string>#FFFFFF</string>
		<key>buttonGetRechargeRewardTextColor</key>
		<string>#FFFFFF</string>
		<key>buttonInviteTextColor</key>
		<string>#FFFFFF</string>
		<key>buttonLikeTextColor</key>
		<string>#6D6D6D</string>
		<key>buttonRewardTagTextColor</key>
		<string>#6D6D6D</string>
		<key>buttonSendTextColor</key>
		<string>#FFFFFF</string>
		<key>buttonShareTextColor</key>
		<string>#FFFFFF</string>
		<key>labelCanSendBackgroundColor</key>
		<string>#F75A53</string>
		<key>labelCanSendTextColor</key>
		<string>#FFFFFF</string>
		<key>labelInvitationRewardTextColor</key>
		<string>#000000</string>
		<key>labelInviteSelectTextColor</key>
		<string>#FFFFFF</string>
		<key>labelInvitedBackgroundColor</key>
		<string>#74CCE7</string>
		<key>labelInvitedTextColor</key>
		<string>#FFFFFF</string>
		<key>labelJustReceivedTextColor</key>
		<string>#F00C1E</string>
		<key>labelNickNameTextColor</key>
		<string>#000000</string>
		<key>labelRechargeRewardPhaseDefaultColor</key>
		<string>#4FCFE6</string>
		<key>labelRechargeRewardPhaseReachedColor</key>
		<string>#FF8B1F</string>
		<key>labelRechargeRewardProgressDefaultColor</key>
		<string>#FFFFFF</string>
		<key>labelRechargeRewardProgressReachedColor</key>
		<string>#FFFFFF</string>
		<key>labelRegisteredTextColor</key>
		<string>#707070</string>
		<key>labelRewardMailTitleColor</key>
		<string>#6D6D6D</string>
		<key>labelRewardTitleTextColor</key>
		<string>#000000</string>
		<key>labelShareTextColor</key>
		<string>#000000</string>
		<key>labelTitleTextColor</key>
		<string>#FFFFFF</string>
		<key>navigatorColor</key>
		<string>#616161</string>
		<key>navigatorHighlightColor</key>
		<string>#1998E5</string>
		<key>tableRewardBottomColor</key>
		<string>#6D6D6D</string>
		<key>tableRewardButtonCellTextColor</key>
		<string>#FFFFFF</string>
		<key>tableRewardHeaderBackgroundColor</key>
		<string>#54C0F1</string>
		<key>tableRewardHeaderTextColor</key>
		<string>#FFFFFF</string>
		<key>tableRewardLabelCellTextColor</key>
		<string>#999999</string>
	</dict>
	<key>gameCDNServerInfo</key>
	<dict>
		<key>gameCDNDownLink</key>
		<string>http://__replaceServerCDN__/ios/</string>
		<key>gameLoginSwitchStatusDomainName</key>
		<string>https://sdk__replaceServerCDN__/Switch/__replaceGameShortName__iosLoginSwitch.txt</string>
		<key>gameNoticeDomainName</key>
		<string>https://sdk__replaceServerCDN__/gameNotice/__replaceGameShortName__iosNotice.txt</string>
		<key>jsPatchDownLink</key>
		<string>https://sdk__replaceServerCDN__/JSPatch/__replaceGameShortName__ios/</string>
	</dict>
	<key>gameInfo</key>
	<dict>
		<key>FreeLoginInFirstTimeButUnlimitTimeEnabled</key>
		<string>NO</string>
		<key>UseJapanLoginViewEnabled</key>
		<string>NO</string>
		<key>buttonTextColor</key>
		<string>#FFFFFF</string>
		<key>current_Select_Region</key>
		<string>server_TW</string>
		<key>gameButtonClickSoundEnabled</key>
		<string>NO</string>
		<key>gameIsAutoLogin</key>
		<string>YES</string>
		<key>gameIsIllegal</key>
		<string>NO</string>
		<key>gameIsInterfaceThwartwise</key>
		<string>YES</string>
		<key>gameIsKeychainPublic</key>
		<string>YES</string>
		<key>gameIsMultiLanguage</key>
		<string>NO</string>
		<key>gameIsPublicNotice</key>
		<string>YES</string>
		<key>gameIsUseNewLoginUserInterface</key>
		<string>YES</string>
		<key>gameLanguage</key>
		<string>zh-Hant</string>
		<key>gameRegion</key>
		<string>REG_HK</string>
		<key>gameShortName</key>
		<string>qmah</string>
		<key>gameWhetherCanSetOrientation</key>
		<string>YES</string>
		<key>gamekey</key>
		<string>faa76c29c33e9b280002c67dbe701e7c</string>
		<key>isDisplayBackBtn</key>
		<string>YES</string>
		<key>isGameTort</key>
		<string>NO</string>
		<key>isHiddenAccountBindBtn</key>
		<string>NO</string>
		<key>isHiddenFastLoginBtn</key>
		<string>NO</string>
		<key>isHiddenTitleBar</key>
		<string>NO</string>
		<key>isLogoOutBackground</key>
		<string>NO</string>
		<key>ptfGoogleAnalyticsId</key>
		<string></string>
		<key>timesOfBindingAlert</key>
		<string>0</string>
	</dict>
	<key>gameLogSetting</key>
	<dict>
		<key>gameJudgeLogFileContent</key>
		<string>shgHKHFKwewerKJSSNNIsjjZIwZAM9corFIW2ryTzcWI0Pou13eeLKjDkr7Zubcap5nNLWWY1xKX4ZqBJwKuCMrBRc4uPVIHct7EFxlcCgRpidsHHJKhjkjafbeudsahfaHKJSHJKFBKSBBjbkjbjbdskhfawe4889y8hdahfuhaiuhdbcbjkbkbvkjbkajsbdeweUUIHKB889ehuhuewhSHGHGH</string>
		<key>gameJudgeLogFileName</key>
		<string>gama_print_file.txt</string>
		<key>gameResourceBundleName</key>
		<string>SPResources</string>
	</dict>
	<key>getPushTokenInfo</key>
	<dict>
		<key>pushGameDomainName</key>
		<string>https://game__replaceServer__/</string>
		<key>pushTokenProName</key>
		<string>popell_push.shtml</string>
	</dict>
	<key>pingServerInfo</key>
	<dict>
		<key>pingDomainName</key>
		<string>https://checknet__replaceServer__/</string>
		<key>pingPostNetworkName</key>
		<string>check_checkNetwork.shtml</string>
		<key>pingRequestName</key>
		<string>check_getCommand.shtml</string>
	</dict>
	<key>platformNameAndMark</key>
	<dict>
		<key>gameThirdPayKey</key>
		<string>SJKDJEIALKD45SKLWOIZKJDSA4SKDJEUWOQP</string>
		<key>gameThirdPayType</key>
		<string>mobile</string>
		<key>ptfAdvertiser</key>
		<string></string>
		<key>ptfIsJailbreak</key>
		<string>NO</string>
	</dict>
	<key>platformServerInfo</key>
	<dict>
		<key>emailItemProj</key>
		<string>app/float/api/message</string>
		<key>fetchFloatItemsProj</key>
		<string>ios/float_button.txt</string>
		<key>fetchRegionNumAndRegularRuleProj</key>
		<string>areaCode</string>
		<key>getPhoneBindGiftProj</key>
		<string>app/giftbag/api/getPhoneBindGiftbag</string>
		<key>giftReceiveRecordProj</key>
		<string>app/giftbag/api/giftbagReceiveRecord</string>
		<key>informationItemProj</key>
		<string>app/float/api/information</string>
		<key>isUserReceivePhoneBindGiftProj</key>
		<string>app/giftbag/api/phoneBindIsReceiveGiftbag</string>
		<key>platformDomainName</key>
		<string>http://testwww__replaceServer__/</string>
		<key>receiveSingleGiftProj</key>
		<string>app/giftbag/api/receiveFromGiftbagCentre</string>
		<key>removeSingleEmailMsgProj</key>
		<string>app/float/api/message/delete</string>
		<key>rewardCenterItemProj</key>
		<string>app/giftbag/api/giftbagCentreGameList</string>
	</dict>
	<key>policyServerInfo</key>
	<dict>
		<key>multi_privacypolicyDomainName</key>
		<string></string>
		<key>multi_useTermsDomainName</key>
		<string>https://sdk__replaceServerCDN__/policy/all/%@/useterms.html</string>
		<key>multi_userPrivacyPolicyDomainName</key>
		<string>https://sdk__replaceServerCDN__/policy/all/%@/privacypolicy.html</string>
		<key>privacypolicyDomainName</key>
		<string>https://sdk.download__replaceServer__/policy/all/privacypolicy.html</string>
		<key>usetermsDomainName</key>
		<string>https://sdk.download__replaceServer__/policy/all/useterms.html</string>
	</dict>
	<key>questionServerInfo</key>
	<dict>
		<key>pfcsDomainName</key>
		<string>https://pf__replaceServer__/</string>
		<key>questioinDomainName</key>
		<string>http://testcs__replaceServer__/</string>
	</dict>
	<key>selectedable_Language</key>
	<dict>
		<key>ar</key>
		<string>ar_AE</string>
		<key>de</key>
		<string>de_DE</string>
		<key>en</key>
		<string>en-US</string>
		<key>es</key>
		<string>es_ES</string>
		<key>id</key>
		<string>en_ID</string>
		<key>ja</key>
		<string>ja_JP</string>
		<key>ko</key>
		<string>ko_KR</string>
		<key>pt</key>
		<string>pt_PT</string>
		<key>ru</key>
		<string>ru_RU</string>
		<key>th</key>
		<string>th_TH</string>
		<key>vi</key>
		<string>vi_VN</string>
		<key>zh-Hans</key>
		<string>zh_CH</string>
		<key>zh-Hant</key>
		<string>zh-TW</string>
	</dict>
	<key>selectedable_Region</key>
	<dict>
		<key>东南亚</key>
		<string>REG_SE</string>
		<key>俄罗斯</key>
		<string>REG_RU</string>
		<key>全球</key>
		<string>REG_GL</string>
		<key>印尼</key>
		<string>REG_ID</string>
		<key>台湾</key>
		<string>REG_TW</string>
		<key>国内</key>
		<string>REG_CN</string>
		<key>德国</key>
		<string>REG_DE</string>
		<key>日本</key>
		<string>REG_JP</string>
		<key>泰国</key>
		<string>REG_TH</string>
		<key>港澳</key>
		<string>REG_HK</string>
		<key>澳洲</key>
		<string>REG_AU</string>
		<key>美洲</key>
		<string>REG_SA</string>
		<key>越南</key>
		<string>REG_VN</string>
		<key>韩国</key>
		<string>REG_KR</string>
	</dict>
	<key>serverInfo</key>
	<dict>
		<key>***下面东南亚侵权</key>
		<string></string>
		<key>***下面是东南亚</key>
		<string></string>
		<key>***下面是中东</key>
		<string></string>
		<key>***下面是中东侵权</key>
		<string></string>
		<key>***下面是俄罗斯</key>
		<string></string>
		<key>***下面是俄罗斯侵权</key>
		<string></string>
		<key>***下面是全球</key>
		<string></string>
		<key>***下面是台湾</key>
		<string></string>
		<key>***下面是德国</key>
		<string></string>
		<key>***下面是德国侵权</key>
		<string></string>
		<key>***下面是日本</key>
		<string></string>
		<key>***下面是欧洲</key>
		<string></string>
		<key>***下面是泰国</key>
		<string></string>
		<key>***下面是泰国侵权</key>
		<string></string>
		<key>***下面是澳大利亚侵权</key>
		<string></string>
		<key>***下面是美洲</key>
		<string></string>
		<key>***下面是美洲侵权</key>
		<string></string>
		<key>***下面是越南</key>
		<string></string>
		<key>***下面是越南侵权</key>
		<string></string>
		<key>***下面是韩国</key>
		<string></string>
		<key>server_AU_Tort</key>
		<string></string>
		<key>server_AU_Tort_AccountPrefix</key>
		<string></string>
		<key>server_AU_Tort_Backup</key>
		<string></string>
		<key>server_AU_Tort_CDN</key>
		<string></string>
		<key>server_AU_Tort_CDN_Backup</key>
		<string></string>
		<key>server_AU_Tort_Localization</key>
		<string>REG_AU</string>
		<key>server_DE</key>
		<string></string>
		<key>server_DE_AccountPrefix</key>
		<string></string>
		<key>server_DE_Backup</key>
		<string></string>
		<key>server_DE_CDN</key>
		<string></string>
		<key>server_DE_CDN_Backup</key>
		<string></string>
		<key>server_DE_Localization</key>
		<string>REG_DE</string>
		<key>server_DE_Tort</key>
		<string></string>
		<key>server_DE_Tort_AccountPrefix</key>
		<string></string>
		<key>server_DE_Tort_Backup</key>
		<string></string>
		<key>server_DE_Tort_CDN</key>
		<string></string>
		<key>server_DE_Tort_CDN_Backup</key>
		<string></string>
		<key>server_DE_Tort_Localization</key>
		<string>REG_DE</string>
		<key>server_EU</key>
		<string></string>
		<key>server_EU_AccountPrefix</key>
		<string></string>
		<key>server_EU_Backup</key>
		<string></string>
		<key>server_EU_CDN</key>
		<string></string>
		<key>server_EU_CDN_Backup</key>
		<string></string>
		<key>server_EU_Localization</key>
		<string>REG_ZD</string>
		<key>server_GL</key>
		<string></string>
		<key>server_GL_AccountPrefix</key>
		<string></string>
		<key>server_GL_Backup</key>
		<string></string>
		<key>server_GL_CDN</key>
		<string></string>
		<key>server_GL_CDN_Backup</key>
		<string></string>
		<key>server_GL_Localization</key>
		<string>REG_GL</string>
		<key>server_JP</key>
		<string></string>
		<key>server_JP_AccountPrefix</key>
		<string></string>
		<key>server_JP_Backup</key>
		<string></string>
		<key>server_JP_CDN</key>
		<string></string>
		<key>server_JP_CDN_Backup</key>
		<string></string>
		<key>server_JP_Localization</key>
		<string>REG_JP</string>
		<key>server_KR</key>
		<string></string>
		<key>server_KR_AccountPrefix</key>
		<string></string>
		<key>server_KR_Backup</key>
		<string></string>
		<key>server_KR_CDN</key>
		<string></string>
		<key>server_KR_CDN_Backup</key>
		<string></string>
		<key>server_KR_Localization</key>
		<string>REG_KR</string>
		<key>server_ME</key>
		<string></string>
		<key>server_ME_AccountPrefix</key>
		<string></string>
		<key>server_ME_Backup</key>
		<string></string>
		<key>server_ME_CDN</key>
		<string></string>
		<key>server_ME_CDN_Backup</key>
		<string></string>
		<key>server_ME_Localization</key>
		<string>REG_ZD</string>
		<key>server_ME_Tort</key>
		<string></string>
		<key>server_ME_Tort_AccountPrefix</key>
		<string></string>
		<key>server_ME_Tort_Backup</key>
		<string></string>
		<key>server_ME_Tort_CDN</key>
		<string></string>
		<key>server_ME_Tort_CDN_Backup</key>
		<string></string>
		<key>server_ME_Tort_Localization</key>
		<string>REG_ZD</string>
		<key>server_RU</key>
		<string></string>
		<key>server_RU_AccountPrefix</key>
		<string></string>
		<key>server_RU_Backup</key>
		<string></string>
		<key>server_RU_CDN</key>
		<string></string>
		<key>server_RU_CDN_Backup</key>
		<string></string>
		<key>server_RU_Localization</key>
		<string>REG_RU</string>
		<key>server_RU_Tort</key>
		<string></string>
		<key>server_RU_Tort_AccountPrefix</key>
		<string></string>
		<key>server_RU_Tort_Backup</key>
		<string></string>
		<key>server_RU_Tort_CDN</key>
		<string></string>
		<key>server_RU_Tort_CDN_Backup</key>
		<string></string>
		<key>server_RU_Tort_Localization</key>
		<string>REG_RU</string>
		<key>server_SA</key>
		<string></string>
		<key>server_SA_AccountPrefix</key>
		<string></string>
		<key>server_SA_Backup</key>
		<string></string>
		<key>server_SA_CDN</key>
		<string></string>
		<key>server_SA_CDN_Backup</key>
		<string></string>
		<key>server_SA_Localization</key>
		<string>REG_SA</string>
		<key>server_SA_Tort</key>
		<string></string>
		<key>server_SA_Tort_AccountPrefix</key>
		<string></string>
		<key>server_SA_Tort_Backup</key>
		<string></string>
		<key>server_SA_Tort_CDN</key>
		<string></string>
		<key>server_SA_Tort_CDN_Backup</key>
		<string></string>
		<key>server_SA_Tort_Localization</key>
		<string>REG_SA</string>
		<key>server_SEA</key>
		<string></string>
		<key>server_SEA_AccountPrefix</key>
		<string></string>
		<key>server_SEA_Backup</key>
		<string></string>
		<key>server_SEA_CDN</key>
		<string></string>
		<key>server_SEA_CDN_Backup</key>
		<string></string>
		<key>server_SEA_Localization</key>
		<string>REG_SE</string>
		<key>server_SEA_Tort</key>
		<string></string>
		<key>server_SEA_Tort_AccountPrefix</key>
		<string></string>
		<key>server_SEA_Tort_Backup</key>
		<string></string>
		<key>server_SEA_Tort_CDN</key>
		<string></string>
		<key>server_SEA_Tort_CDN_Backup</key>
		<string></string>
		<key>server_SEA_Tort_Localization</key>
		<string>REG_SE</string>
		<key>server_THAI</key>
		<string></string>
		<key>server_THAI_AccountPrefix</key>
		<string></string>
		<key>server_THAI_Backup</key>
		<string></string>
		<key>server_THAI_CDN</key>
		<string></string>
		<key>server_THAI_CDN_Backup</key>
		<string></string>
		<key>server_THAI_Localization</key>
		<string>REG_TH</string>
		<key>server_THAI_Tort</key>
		<string></string>
		<key>server_THAI_Tort_AccountPrefix</key>
		<string></string>
		<key>server_THAI_Tort_Backup</key>
		<string></string>
		<key>server_THAI_Tort_CDN</key>
		<string></string>
		<key>server_THAI_Tort_CDN_Backup</key>
		<string></string>
		<key>server_THAI_Tort_Localization</key>
		<string>REG_TH</string>
		<key>server_TW</key>
		<string>.starb168.com</string>
		<key>server_TW_AccountPrefix</key>
		<string></string>
		<key>server_TW_Backup</key>
		<string>.starb168.com</string>
		<key>server_TW_CDN</key>
		<string>autocdn-palt.starb168.com</string>
		<key>server_TW_CDN_Backup</key>
		<string>autocdn-paltslave.starb168.com</string>
		<key>server_TW_Localization</key>
		<string>REG_TW</string>
		<key>server_TW_Tort</key>
		<string></string>
		<key>server_TW_Tort_Backup</key>
		<string></string>
		<key>server_TW_Tort_CDN</key>
		<string></string>
		<key>server_TW_Tort_CDN_Backup</key>
		<string></string>
		<key>server_TW_Tort_Localization</key>
		<string>REG_TW</string>
		<key>server_VN</key>
		<string></string>
		<key>server_VN_AccountPrefix</key>
		<string></string>
		<key>server_VN_Backup</key>
		<string></string>
		<key>server_VN_CDN</key>
		<string></string>
		<key>server_VN_CDN_Backup</key>
		<string></string>
		<key>server_VN_Localization</key>
		<string>REG_VN</string>
		<key>server_VN_Tort</key>
		<string></string>
		<key>server_VN_Tort_AccountPrefix</key>
		<string></string>
		<key>server_VN_Tort_Backup</key>
		<string></string>
		<key>server_VN_Tort_CDN</key>
		<string></string>
		<key>server_VN_Tort_CDN_Backup</key>
		<string></string>
		<key>server_VN_Tort_Localization</key>
		<string>REG_VN</string>
	</dict>
	<key>thirdPartyInfo</key>
	<dict>
		<key>adjustAppToken</key>
		<string></string>
		<key>adjusuFacebook_reg</key>
		<string></string>
		<key>adjusuGameCenter_reg</key>
		<string></string>
		<key>adjusuGuest_reg</key>
		<string></string>
		<key>adjusuTwitter_reg</key>
		<string></string>
		<key>appangADKey</key>
		<string></string>
		<key>appsflyerAppID</key>
		<string>1265701184</string>
		<key>appsflyerCreateRoleReportID</key>
		<string></string>
		<key>appsflyerCurrentCode</key>
		<string>USD</string>
		<key>appsflyerDevKey</key>
		<string>BLFVxBvnUi2zH7iwEb72jB</string>
		<key>bandClientID</key>
		<string></string>
		<key>bandClientSecret</key>
		<string></string>
		<key>chartboostAppID</key>
		<string></string>
		<key>chartboostAppSignature</key>
		<string></string>
		<key>facebookAppID</key>
		<string>113249482590994</string>
		<key>facebookDisplayName</key>
		<string>qmah</string>
		<key>googleConversionID</key>
		<string></string>
		<key>googleCreateRoleLabel</key>
		<string></string>
		<key>googleInstallLabel</key>
		<string></string>
		<key>googleMapApiKey</key>
		<string></string>
		<key>googleRegistLabel</key>
		<string></string>
		<key>googleValue</key>
		<string></string>
		<key>igaworksAppKey</key>
		<string></string>
		<key>igaworksHashKey</key>
		<string></string>
		<key>inmobiAdTracker</key>
		<string></string>
		<key>kakaoAppKey</key>
		<string></string>
		<key>kakaoClientID</key>
		<string></string>
		<key>kakaoClientSecret</key>
		<string></string>
		<key>kakaoInviteTemplateID</key>
		<string></string>
		<key>kakaoSendMessageTemplateID</key>
		<string></string>
		<key>kochavaAppId</key>
		<string></string>
		<key>naverCafeID</key>
		<string></string>
		<key>naverClientID</key>
		<string></string>
		<key>naverClientSecret</key>
		<string></string>
		<key>naverConsumerKey</key>
		<string></string>
		<key>naverConsumerSecret</key>
		<string></string>
		<key>naverServiceAppName</key>
		<string></string>
		<key>tapjoyAppID</key>
		<string></string>
		<key>tapjoySecretKey</key>
		<string></string>
		<key>tuneAdvertiserId</key>
		<string></string>
		<key>tuneConversionKey</key>
		<string></string>
	</dict>
	<key>ui-oversea</key>
	<dict>
		<key>oversea-buttonTextColorOneHighlighted</key>
		<string>#FFFFFF</string>
		<key>oversea-buttonTextColorOneNormal</key>
		<string>#FFFFFF</string>
		<key>oversea-buttonTextColorTwoHighlighted</key>
		<string>#B20303</string>
		<key>oversea-buttonTextColorTwoNormal</key>
		<string>#FFFFFF</string>
		<key>oversea-labelTextColorOne</key>
		<string>#FFFFFF</string>
		<key>oversea-textField2PlaceholderTextColor</key>
		<string>#deded8</string>
		<key>oversea-textField2TextColor</key>
		<string>#ffffff</string>
		<key>oversea-textFieldPlaceholderTextColor</key>
		<string>#C7C7CD</string>
		<key>oversea-textFieldTextColor</key>
		<string>#262626</string>
		<key>oversea-titleButtonTextNormalColor</key>
		<string>#262626</string>
		<key>oversea-titleViewTextColor</key>
		<string>#FFFFFF</string>
		<key>overseaPhone-titleButtonTextShadowColor</key>
		<string>#FFFFFF</string>
	</dict>
</dict>
</plist>
