<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>+uUAq4VSV9WM0a6dNvoFGQ==</key>
	<dict>
		<key>Rp7blNy+7JHneqF1Ei5AyA==</key>
		<string>cE5oGrMQnn5BP+pEfuIfTg==</string>
		<key>bSPDDLZQz1yN7vQLgKKlxA==</key>
		<string>cE5oGrMQnn5BP+pEfuIfTg==</string>
		<key>jZlFqMaxJ+SUWJr5ln1SrQ==</key>
		<string>91ks1w0qTBqnihAwkff5e81v7zaeQSkHRoT5VGi/nsM=</string>
		<key>zL9wEp7xsRAGDs/8KlGzkg==</key>
		<string>FxmdumTW9ZkDRgD80EmXJ2K5sG6AH3VI9ArC4tNw0pQ=</string>
	</dict>
	<key>4nv/qsH0Hv/EpRu3GKVxDA==</key>
	<dict>
		<key>JrVTIUhbNrb5dB2PJlo10uCoOSjrfVAm9zvm8AgNzSc=</key>
		<string>w1z7QvUvLl3edrTxkou7+Q==</string>
		<key>Jxfsi1IpuuRZM2y5zkcwyfleiyTkAa9LdWXhGUQXhHo=</key>
		<string>TQSCcxudT4izFwpuColZKT4jvkZDd7E2gBV4zomIc9M=</string>
		<key>T7Z+Vae4ZeEQIL3qyI8mzQ==</key>
		<string>TQSCcxudT4izFwpuColZKT4jvkZDd7E2gBV4zomIc9M=</string>
		<key>WUfrHMUtLxv+H9iGhDGllw==</key>
		<string>SIoXso700OoYUcaobJlTtg==</string>
		<key>q+zB232h+X/rokPIZyCr8Sr7AULr0VKV2rdolazYEvA=</key>
		<string>SIoXso700OoYUcaobJlTtg==</string>
	</dict>
	<key>GTn3kvpUZdmc3d7p9TgxY6yulmFa2Y7ziVQ9R7xUXHs=</key>
	<dict>
		<key>igati8US1BN+6M+X0r05VXVRhlpkzR7RtC6qDWDSfBM=</key>
		<string>yHb9qaXn2ODAfieVoxoYBQitjkZvXwnb1oXVmVmTR06aoKp7zf1r6dHsN+5+nQ3T</string>
	</dict>
	<key>GXLddYrxh2P4NFa/eeJNPcJuhP0JUligt1+458Uj/lg=</key>
	<dict>
		<key>MY8440i6NovSTkwfWThNww==</key>
		<string>69ucAa7Jmj+kP7RSruPU3BvinQT727Jbj5Dh3a62S08ev3PhZFrbdcSf396vW4jS</string>
	</dict>
	<key>QYpriE9ZeOn7Gcweopp3fUAVwR0qtqhBgAUcqosWvoI=</key>
	<dict>
		<key>ZPBE9/2JFoQEJjTOr5SjNQ==</key>
		<string>qt8Obht2MZGwPGCGxw4tHg==</string>
	</dict>
	<key>SDK_DATE</key>
	<string>2018-04-10 17:52:21.412</string>
	<key>SEIZ/yiUBYjYgZaXYsCA8+QGB161Xabu7WyMDLtVmvk=</key>
	<dict>
		<key>2AtusLi0M+hRwBv6MngqVMBVZHkdBoqaUH1Cx+rROAo=</key>
		<string>iW90nbdzCDURkQVJT6OefA==</string>
		<key>49M7RoChtlPcP5Nr/A/HHC1InCe/RXEEuG2rU+eC+Vo=</key>
		<string>RFdsbARy/JRqFKPASMmd/Q==</string>
		<key>APn0xuJyMFp9i0RRO0H3WW2AmkJSh1dRCQAv1A6fUIU=</key>
		<string>p+8Eezxe0zIAhPx58q11EA==</string>
		<key>MjC/pVxUbBP87QwXga69jQlahjR3ehZynuwJ2Uz0WkM=</key>
		<string>yJqknJ1r8xztXAGL7G6lAg==</string>
		<key>Pak85PhY5VAEbh/d7NEj4eJYT0sF7DbYSIhN3mXbfkc=</key>
		<string>h/88pJX9DJCPnMAx9waYuQ==</string>
		<key>RFvz9IDfVK4c7TdkINKq4Q==</key>
		<string>zFxRrcPsrXYZHGr22jkHVa6ohCGqIARdY/i+iSOfFA8=</string>
		<key>Tapbj/Pa2Pq16qJgokBZTr98cbS5uZ8v/j+j9YArvxU=</key>
		<string>+e7fdA6O/ibZCuJ4YAEkhuWeCp7pf1I8fI0U8z+OSIQ=</string>
		<key>eO8fRXleA34wcZkheJrqbmHCJv+Hjadfhjs2HQMJGh4=</key>
		<string>TU0j+LNwUTKxuPAJ47/lFw==</string>
		<key>gTzwzLChgD/A6CkClfmckJqQYPvYqQhC2NeU5xl7/6FgUSgFjiwGD02KlRfs9cDi</key>
		<string>gJJ3Lt4E5gIYaTVLuktHUA==</string>
		<key>hA/L4TLr0V3xu9UYT60UTl93vfJHKimmDNt8cnZkFbg=</key>
		<string>qMkR70B1h/2/RFzbnJ0DGQ==</string>
		<key>kgjjyWEeYk3HLPF+6Uro+w==</key>
		<string>s2gPY1xclKOdzihfF8JADQ==</string>
	</dict>
	<key>SLayN5hxbaHHiK7GxnghmbpY3U6ozBmL/Ycreqm2JcA=</key>
	<dict>
		<key>ygJ/VkKmH6KNpbt8dK6ewg==</key>
		<string>w1z7QvUvLl3edrTxkou7+Q==</string>
	</dict>
	<key>_GAME_NAME_AT_ENCRYPT_</key>
	<string>dodi</string>
	<key>gciEtepjdT8L24oS4sHOoQ==</key>
	<dict>
		<key>9HlPrESiZ4sGLU2/xrFIRwmurQ1bl+f2xxw/2+a9gjY=</key>
		<string>7b7JGClBVpkW7BM9MFBycf/7OLls92y/gbqo3Bt62t4=</string>
		<key>DUjLTHtiPhL/J6R0AbZ5PoWlvECHBW0DM+q+Ry7z6vo=</key>
		<string>A9Y3WYZRyN2Ynh4vPLUZvcExVyH3wTJozayW4gtqjGE=</string>
		<key>PYz5anu22WwNx8DEcFF9SQ1tG/4uoTLHiIFymOfoSr8=</key>
		<string>7b7JGClBVpkW7BM9MFBycf/7OLls92y/gbqo3Bt62t4=</string>
		<key>Sa7B6bjusdtxZoquyLGVOA==</key>
		<string>4UFwj3g9bH5kjFDfvRy0oWC1z/NsOtAgLPkEKaeI1C8=</string>
		<key>uN7+dleef2wzBcKelmFrZ/gNNRc4vh1HzFwnjZpd5dk=</key>
		<string>7b7JGClBVpkW7BM9MFBycf/7OLls92y/gbqo3Bt62t4=</string>
		<key>vD+ZABsjZibaa71Z5TO9ZJLz4vk+Mz45IQsGPVa9NE4=</key>
		<string>PDws7knbkFcXUonWrPdm0w==</string>
	</dict>
	<key>lZT8IwB4M6TIqgdOJaCUkQ==</key>
	<dict>
		<key>SofnQzXixiRznYO6J2R6ZJYF7GncQRwMwlLFOjGZRkI=</key>
		<string>CnTTPt0ihf9uR0AfPBIuSw==</string>
		<key>WchL0lOBA5x+rgna/qDKtg==</key>
		<string>3sa0Ink80G5AgCuJn/QjBQ==</string>
		<key>jZw5+0EB2LhRzPkNyUCoWA==</key>
		<string>ggo3jGY8IXT3QzB1Rjk5Ag==</string>
		<key>n1eGoNI0jVrRCM7UeBTP8w==</key>
		<string>g6ybhDuek9fxRq9DBtu8w9FhA0Co46oAheE2VgW+GR4=</string>
		<key>pHgWR/FGNyA9TvK7GKTXJu7fN3gUY20x8toWYrHFDpY=</key>
		<string>8Gzinvz7U63jkPKQrBfY5g==</string>
	</dict>
	<key>ps8Y8NmI90iewv37C1PXvA==</key>
	<dict>
		<key>5Nhg4QWKMi7/4owVBEjR3+XVvY/EmkA5ME5IQwKjsrU=</key>
		<string>Bl0EL7hek6ccZsWuJHyZSU9kF3xdbxYaBEsGL05ABXPcgu3+BNrxEM5ziQavmA3KFFUFOKU5U+Y+kgN0P14tSYD64UAvWLMQukjjh+pKQXJFjNLtTcyyzPjrnz4V4FAHb/xBq4oVvGxZ0mOuazkzelt4v2UKJl9qgSkucQeGP1DcilYZnL9CpO9PX/fngCizJXnoperV9scHaOgRmufY/Sy//NReDKJPgAPh1r/0bKeXjhemL8+Zv8SSyl9lReQ7IRPbUACXnaJmMvBwkvdNkLdjcf/60fd34lY0KBSJHaE=</string>
		<key>5Nhg4QWKMi7/4owVBEjR302n4pCEaPnkxM/e8VflEj4=</key>
		<string>PEKdzPaANNS9xTXeU2GHEqgG9tAPpYeDgr2ISJPOnZY=</string>
		<key>RxWhFykhUMbhknBtdexKIn0tZEbNrbUSJwmVLyEfJBw=</key>
		<string>/Mphk6hjpJfnYEtsdtMGEw==</string>
	</dict>
	<key>qp3I+CQwCqxiuvOFxd9HTeHwv8dQLcI+LmNA/pFMPDE=</key>
	<dict>
		<key>+6m4YDrBfYSBpZ63y0h/gFt4WInNElpI+nO6R25v3CE=</key>
		<string>6GTq6vtMUmMIVNe46iBpAYQ26vuz0mwhMHUeJw1BQwHedNHHN/No6R0MdFmuzU33</string>
		<key>7oWjpVXOaN22IWWMuEvet5set+S4HTwyKUoBQUBS2wM=</key>
		<string>IMAGVFUloBEEpN/PvJJpra/GQZ8X31vDSTWG0XjmNYQwgJsJwVgLi2EQck//BbJz</string>
		<key>AF8oAaqr2mxgHynhlQt7LEUjQZYXqQ5m02sdqilEuM8=</key>
		<string>bON8oHy5XPw+76R071QQTZUpIdJY+l1pycuSYV0aSui5tAF4jH7TsExjq5lnPoBU</string>
		<key>GCJcomW4j9o6pJ9VC0TVDuO0Au7CB7PSydAJdEyv/jw=</key>
		<string>6GTq6vtMUmMIVNe46iBpAfA52uvDnS06FhhfwxHPAj55QAfH9kQ8jA/kLEU4nAQA</string>
		<key>Nq/FnnPefBd3Z6JlcminM3TZDlivjxxYVT4JX0Ly4TE=</key>
		<string>6GTq6vtMUmMIVNe46iBpAcgh1R1UTGDsHfqjrSfdaJyrWKuPyk3v0IFFYLvPg1IR</string>
		<key>OkWpuCfUpRUwnOpYeL26qA1S91Nlns3zuXl+pxoyBkw=</key>
		<string>bON8oHy5XPw+76R071QQTZUpIdJY+l1pycuSYV0aSui5tAF4jH7TsExjq5lnPoBU</string>
		<key>TtLAvBj2Vh/L03zGAOGAU2/3JpMee5g+d/caK2VmwtU=</key>
		<string>HNhdCInqLGFRL9i5xyW5NVOe2wufMfigVdw+/HW5pzg=</string>
		<key>b1Mf5YTogkUHt3i4ZubvoQJuH9kd9gG2ndU6OmiHK4tRWde1Zrm+CTiQGLP3Erb7</key>
		<string>cxnjrqwSv35H0WzDVVPLPQ==</string>
		<key>f0tFy2P6thuPHAvXX7JMdA==</key>
		<string>afqn9w09xDKKO+nPbPOZhhGJqg/W3KH5P8PMLKPcVrc=</string>
		<key>k/p2Ou6NQa0Stg290r/K2qy0gxf5wQeakCgWkk4gpHQ=</key>
		<string>afqn9w09xDKKO+nPbPOZhrzIuc1oGcjPX/eCxfmbI8g=</string>
		<key>nB6YR/g5CfjFcfzQXBk0JJgHQq0zVPxcKdLK8AgdZpI=</key>
		<string>6GTq6vtMUmMIVNe46iBpAQNiCUyfD8RXIkFyPPStkFujx0B2a8r83lPCOjK4w2nf</string>
		<key>vhPV7Or9rKXI8OtV9CUAtZrR51Ee5+qFeHramhr1ldw=</key>
		<string>6GTq6vtMUmMIVNe46iBpATXdNvAHAJLbQ8Xx/9QgrX5bWoB87JK/44gRAHyHZhC0</string>
	</dict>
	<key>wipY7TpI8g2MlOKjyQHG4Q==</key>
	<dict>
		<key>8w9YKuNGJuylxOBGOga0eA==</key>
		<string>w1z7QvUvLl3edrTxkou7+Q==</string>
		<key>JBx1DejfftrA9Iqn6uXzwA==</key>
		<string>ZPBE9/2JFoQEJjTOr5SjNQ==</string>
		<key>eSXW2DsclBVjrhVJxfIdfA==</key>
		<string>EqxAMvSLONptMgBrBGakaIt1/V/qsQV+WRu+N6PLQzK7L7pDUJGhIBpj64g3hfN8</string>
		<key>jhhVePua0rXWGmb2s0i1RtkECczddPhYoqKM6KmAdfU=</key>
		<string>WUfrHMUtLxv+H9iGhDGllw==</string>
		<key>pGlv4EUCKx6aLQyAyniX9mSMkU8mYxswJsoQM99pBFg=</key>
		<string>DkdpT+TewFisVXjvnPv3xw==</string>
		<key>rxsSevXolrHLxEYtS6fz6g==</key>
		<string>8Gzinvz7U63jkPKQrBfY5g==</string>
	</dict>
	<key>xqufVnuEQ+BfGnfboECYjg==</key>
	<dict>
		<key>+jD2cVbUQVyX3LwWqtCAlA==</key>
		<string>Au7gzyiTKnyY7aofAVz9PKohz+nQ0wAG3e87NGer/XZL4/Ex11l6pq9obgJHc8Zl</string>
		<key>Pwy5IFKXD3yYGiSlJDEqjw==</key>
		<string>L75/b1i99UlPXE/p96cKVA==</string>
		<key>mfscWHIjOZuKCFxtFbQ7sg==</key>
		<string>Dnao2/rv2l4pD/fPHyhqh6PYW9dq741bft+h7cesV0dtGUDDIa1iNRrvaQco3n/7</string>
	</dict>
</dict>
</plist>
