<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255382194723-p2jtcq6qdrrpr3r95t3c9c5krdrpupq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255382194723-p2jtcq6qdrrpr3r95t3c9c5krdrpupq3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>255382194723-i1l65stu290i2a7159n9toelp4n4bk5k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUALjpyzB2aD4DOBS4x-cVcUHMmM6GZp0</string>
	<key>GCM_SENDER_ID</key>
	<string>255382194723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snmxw.vntest</string>
	<key>PROJECT_ID</key>
	<string>kdzq-202210</string>
	<key>STORAGE_BUCKET</key>
	<string>kdzq-202210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255382194723:ios:aa4e0733e5b6d5b1623f96</string>
	<key>DATABASE_URL</key>
	<string>https://kdzq-202210.firebaseio.com</string>
</dict>
</plist>