<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sdk_more_language</key>
	<false/>
	<key>sdk_res_bundle_name</key>
	<string>SDKResourcesV4</string>
	<key>sdk_v_version</key>
	<string>v2</string>
	<key>sdk_ad_bug</key>
	<false/>
	<key>sdk_appId</key>
	<string>6443579142</string>
	<key>af_dev_key</key>
	<string>823qxpxym3xeHK3qsHFiv5</string>
	<key>sdk_url_cdn</key>
	<string>https://cdn-download.mmhyplayer.com/</string>
	<key>terms_service_url</key>
	<string>https://member.mmhyplayer.com/sdk/agreement/%@_agreement.html</string>
	<key>appKey</key>
	<string>49eb29a0faa1933c9410598a807f1b74</string>
	<key>gameCode</key>
	<string>wlzhsios</string>
	<key>gameLanguage</key>
	<string>en_US</string>
	<key>sdk_language</key>
	<string>en</string>
	<key>sdk_url_login</key>
	<string>https://login.mmhyplayer.com/</string>
	<key>sdk_url_pay</key>
	<string>https://pay.mmhyplayer.com/</string>
	<key>sdk_url_log</key>
	<string>https://log.mmhyplayer.com/</string>
</dict>
</plist>
