<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sdk_more_language</key>
	<true/>
	<key>sdk_res_bundle_name</key>
	<string>SDKResourcesV2</string>
	<key>sdk_v_version</key>
	<string>v2</string>
	<key>sdk_ad_bug</key>
	<false/>
	<key>sdk_appId</key>
	<string>1635276856</string>
	<key>af_dev_key</key>
	<string>QtrxWJpdhQVov9F8hwKD3o</string>
	<key>sdk_url_cdn</key>
	<string>https://cdn-download.meowplayer.com/</string>
	<key>terms_service_url</key>
	<string>https://member.meowplayer.com/sdk/agreement/%@_agreement.html</string>
	<key>appKey</key>
	<string>c402932996a88ee8c97ac2014df57656</string>
	<key>gameCode</key>
	<string>fszhlios</string>
	<key>gameLanguage</key>
	<string>zh_TW</string>
	<key>sdk_url_login</key>
	<string>https://login.meowplayer.com/</string>
	<key>sdk_url_pay</key>
	<string>https://pay.meowplayer.com/</string>
	<key>sdk_url_log</key>
	<string>https://log.meowplayer.com/</string>
</dict>
</plist>
