<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sdk_more_language</key>
	<true/>
	<key>sdk_res_bundle_name</key>
	<string>SDKResourcesV5</string>
	<key>sdk_v_version</key>
	<string>v3</string>
	<key>sdk_ad_bug</key>
	<false/>
	<key>sdk_appId</key>
	<string>1670095095</string>
	<key>af_dev_key</key>
	<string>NvC8XhFCMEkhSnriXG4jjL</string>
	<key>sdk_url_cdn</key>
	<string>https://cdn-download.dustyx.com/</string>
	<key>terms_service_url</key>
	<string>https://member.dustyx.com/sdk/agreement/%@_agreement.html</string>
	<key>appKey</key>
	<string>f4c597bf11c5359fe60459b51435f359</string>
	<key>gameCode</key>
	<string>gwsgios</string>
	<key>gameLanguage</key>
	<string>zh_TW</string>
	<key>sdk_language</key>
	<string>zh-Hant</string>
	<key>sdk_url_login</key>
	<string>https://login.dustyx.com/</string>
	<key>sdk_url_pay</key>
	<string>https://pay.dustyx.com/</string>
	<key>sdk_url_log</key>
	<string>https://log.dustyx.com/</string>
</dict>
</plist>
