<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IapProgramInfo</key>
	<dict>
		<key>iapAppstoreAppstoreCallback</key>
		<string>api/apple-store-pay/v1/send-stone.app</string>
		<key>iapAppstoreCheckoutOrder</key>
		<string>api/dnmc-pay/v1/dynamic-creation.app</string>
		<key>iapAppstoreCreditOrderProName</key>
		<string>api/apple-store-pay/v1/send-stone.app</string>
		<key>iapAppstorePayStoneProName</key>
		<string>api/apple-store-pay/v1/send-stone.app</string>
		<key>iapDomainName</key>
		<string>https://pay__replaceServer__/</string>
		<key>iapThirdPayProName</key>
		<string>dynamic_change.app</string>
	</dict>
	<key>LoginProgramInfo</key>
	<dict>
		<key>isFbLoginInApp</key>
		<string>NO</string>
		<key>loginAcquirePhoneVertifyCodeProName</key>
		<string>acquire/v1/acquire-vf-code.app</string>
		<key>loginBindPhoneOrEmailProName</key>
		<string>bindpe_phone_email.app</string>
		<key>loginCaptchaProName</key>
		<string>captcha/captcha.app</string>
		<key>loginDomainName</key>
		<string>https://login__replaceServer__/</string>
		<key>loginFreeRegisterProName</key>
		<string>login/v1/free-register.app</string>
		<key>loginStandardChangePwdProName</key>
		<string>change/v1/pwd.app</string>
		<key>loginStandardFindPwdProName</key>
		<string>find/v1/pwd.app</string>
		<key>loginStandardLoginProName</key>
		<string>login/v1/login.app</string>
		<key>loginStandardRegisterProName</key>
		<string>login/v1/register.app</string>
		<key>loginThirdBindPhoneProName</key>
		<string>bind/v1/be-linked-phone.app</string>
		<key>loginThirdBindingProName</key>
		<string>bind/v1/bind-third-party.app</string>
		<key>loginThirdLoginProName</key>
		<string>login/v1/third-party-login.app</string>
		<key>loginUnfiedSwitchProName</key>
		<string>app/unified/unifiedSwitch.app</string>
		<key>loginUserBindInfoProName</key>
		<string>users_bind_info.app</string>
		<key>loginUserIpdateProName</key>
		<string>userUpdateMessage/updateMessage.app</string>
		<key>loginValidationProName</key>
		<string>validation/ageValidation.app</string>
	</dict>
	<key>ThirdLoginParams</key>
	<dict>
		<key>urlschemeWhiteLists</key>
		<string>fbapi,fb-messenger-api,fbauth2,fbshareextension</string>
	</dict>
	<key>adInfo</key>
	<dict>
		<key>adDomainName</key>
		<string>https://ads__replaceServer__/</string>
		<key>adProName</key>
		<string>ads_install_activationa.app</string>
		<key>gama_advertiser</key>
		<string></string>
		<key>gama_platForm</key>
		<string></string>
	</dict>
	<key>domainNames</key>
	<dict>
		<key>S_ACT_Pre_Url</key>
		<string>https://activity__replaceServer__/</string>
		<key>S_ACT_Proj_Name</key>
		<string>act_dynamic.app</string>
		<key>gama_Member_URL</key>
		<string>https://www__replaceServer__/</string>
		<key>userterm_url</key>
		<string>https://www__replaceServer__/member/archive.html</string>
	</dict>
	<key>gameCDNServerInfo</key>
	<dict>
		<key>gameCDNDownLink</key>
		<string>https://__replaceServerCDN__/ios/</string>
	</dict>
	<key>gameInfo</key>
	<dict>
		<key>moreLanguage</key>
		<string>NO</string>
		<key>current_Select_Region</key>
		<string>server_TW</string>
		<key>gameIsInitializeAd</key>
		<string>YES</string>
		<key>gameIsInterfaceThwartwise</key>
		<string>NO</string>
		<key>gameLanguage</key>
		<string>zh-Hant</string>
		<key>gameRegion</key>
		<string>REG_TW</string>
		<key>sdkGameCode</key>
		<string>lyjios</string>
		<key>gamekey</key>
		<string>6965746c51a330c5450b7e6a9d5dfc72</string>
	</dict>
	<key>gameLogSetting</key>
	<dict>
		<key>gameJudgeLogFileContent</key>
		<string>shgHKHFKwewerKJSSNNIsjjZIwZAM9corFIW2ryTzcWI0Pou13eeLKjDkr7Zubcap5nNLWWY1xKX4ZqBJwKuCMrBRc4uPVIHct7EFxlcCgRpidsHHJKhjkjafbeudsahfaHKJSHJKFBKSBBjbkjbjbdskhfawe4889y8hdahfuhaiuhdbcbjkbkbvkjbkajsbdeweUUIHKB889ehuhuewhSHGHGH</string>
		<key>gameJudgeLogFileName</key>
		<string>gama_print_file.txt</string>
		<key>gameResourceBundleName</key>
		<string>SDKResources</string>
	</dict>
	<key>platformServerInfo</key>
	<dict>
		<key>emailItemProj</key>
		<string>app/float/api/message</string>
		<key>fetchFloatItemsProj</key>
		<string>config/floatbutton/%@/float_button.txt</string>
		<key>fetchRegionNumAndRegularRuleProj</key>
		<string>areaCode</string>
		<key>getPhoneBindGiftProj</key>
		<string>app/giftbag/api/getPhoneBindGiftbag</string>
		<key>giftReceiveRecordProj</key>
		<string>app/giftbag/api/giftbagReceiveRecord</string>
		<key>informationItemProj</key>
		<string>app/float/api/information</string>
		<key>isUserReceivePhoneBindGiftProj</key>
		<string>app/giftbag/api/phoneBindIsReceiveGiftbag</string>
		<key>platformDomainName</key>
		<string>https://platform__replaceServer__/</string>
		<key>receiveSingleGiftProj</key>
		<string>app/giftbag/api/receiveFromGiftbagCentre</string>
		<key>removeSingleEmailMsgProj</key>
		<string>app/float/api/message/delete</string>
		<key>rewardCenterItemProj</key>
		<string>app/giftbag/api/giftbagCentreGameList</string>
		<key>tongbuDomainName</key>
		<string>http://platform__replaceServer__/</string>
	</dict>
	<key>selectedable_Language</key>
	<dict>
		<key>zh-Hant</key>
		<string>zh_TW</string>
	</dict>
	<key>selectedable_Region</key>
	<dict>
		<key>台湾</key>
		<string>REG_TW</string>
	</dict>
	<key>serverInfo</key>
	<dict>
		<key>server_TW</key>
		<string>.flyfungame.com</string>
		<key>server_TW_Backup</key>
		<string>.flyfungame.com</string>
		<key>server_TW_CDN</key>
		<string>sdk_download.flyfungame.com</string>
		<key>server_TW_CDN_Backup</key>
		<string>sdk_download.flyfungame.com</string>
		<key>server_TW_Localization</key>
		<string>REG_TW</string>
	</dict>
	<key>thirdPartyInfo</key>
	<dict>
		<key>FacebookReadPermissions</key>
		<string></string>
		<key>adjustAppKey1</key>
		<string>1154138418</string>
		<key>adjustAppKey2</key>
		<string>645943775</string>
		<key>adjustAppKey3</key>
		<string>578757334</string>
		<key>adjustAppKey4</key>
		<string>1082196441</string>
		<key>adjustAppSecret</key>
		<string>1</string>
		<key>adjustAppToken</key>
		<string>cy9vwv6ohurk</string>
		<key>appsflyerAppID</key>
		<string></string>
		<key>appsflyerCurrentCode</key>
		<string>USD</string>
		<key>appsflyerDevKey</key>
		<string></string>
		<key>facebookAppID</key>
		<string>951929145281682</string>
		<key>facebookDisplayName</key>
		<string>lyjios</string>
		<key>twitterConsumerKey</key>
		<string></string>
		<key>twitterSecret</key>
		<string></string>
	</dict>
</dict>
</plist>
