<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267037747590-aou57ianef41ct87vaigq3fphqh235bj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267037747590-aou57ianef41ct87vaigq3fphqh235bj</string>
	<key>API_KEY</key>
	<string>AIzaSyATMU1JdSaQfidzv39Ng1b3DsedS8WKLyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>267037747590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wxgy.sshx</string>
	<key>PROJECT_ID</key>
	<string>sea-sshx-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>sea-sshx-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267037747590:ios:2fd632305f4042f783a407</string>
</dict>
</plist>